.panel-page__heading {
    background: rgba(60, 60, 60, 1);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    padding-bottom: 10px;
    z-index: 5;
}

.panel-page__branding {
    background: white;
    height: 60px;
}

.panel-page__user-menu {
    margin-right: 5%;
    padding-top: 10px;
    width: 30%;
}

.panel-page__menu button {
    margin-right: 0%;
    background: none;
    border: none;
    margin: none;
}

.panel-page__menu {
    width: 5%;
    border-collapse: collapse;
    height: 80%;
}

.panel-page__phenomenon-symbol {
    position: absolute;
    height: 60px;
    padding: 5px;
}

.panel-page__phenomenon-symbol img {
    height: 60px;
}

.panel-page__icon-symbol {
    padding: 10px;
    height: 100%;
    border-left: thin rgba(255, 255, 255, 0.3) solid;
    border-right: thin rgba(255, 255, 255, 0.3) solid;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.panel-page__icon-symbol .ringed-icon {
    border: 3px white solid;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    padding: 0px;
    display: inline-block;
}

.panel-page__icon-symbol {
    color: white;
}

.panel-page__icon-symbol img {
    height: 35px;
}

.panel-page__icon-symbol p {
    margin-bottom: 3px;
    width: 100px;
    display: inline-block;
    text-align: center;
}

.panel-page__branding-block {
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 65px;
    width: 50%
}

.panel-page__branding-block img {
    height: 40px;
}

.panel-page__dashboard-button {
    font-weight: bold;
    color: rgba(90, 90, 90, 1);
}

.panel-page__user-button .btn-default {
    border: none;
}

%phenomenon__header {
    display: inline-block;
    vertical-align: middle;
    padding-left: 60px;
}

.panel-page__header-block {
    @extend %phenomenon__header;
    width: 60%;
}

.panel-page__header-block-inner {
    display: inline-block;
    vertical-align: middle;
    padding-left: 60px;
}

.panel-page__phenomenon-header {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    font-family: 'League Gothic';
    text-transform: uppercase;
    font-size: 30pt;
    line-height: 1;
    font-weight: normal;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
}

.panel-page__caption-header {
    font-size: 12pt;
    line-height: 0.9;
    color: white;
    font-weight: normal;
}

.panel-page__time-header {
    font-size: 12pt;
    color: #888;
    position: relative;
    margin-left: 20%;
    width: 100%;
}

.panel-page__time-header-block {
    position: absolute;
    z-index: 10;
    left: 15vw;
    display: flex;
}

.panel-page__time-header-subblock.time {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    box-shadow: 0 5px 5px 0px rgba(60, 60, 60, 0.3);
    background-color: white;
}

.panel-page__time-header-subblock {
    background-color: rgba(255, 255, 255, 0.8);
    display: block;
    border-bottom: thin #ddd solid;
    border-top: none;
}

#colorMap {
    position: absolute;
    top: 35%;
    left: 20px;
    z-index: 12;
}

#timeline {
    width: 80%;
    float: left;
    display: inline-block;
}

#news {
    position: relative;
    bottom: 0px;
    width: 40%;
    display: inline-block;
    z-index: 11;
    float: left;
}

#taskworkElement {
    position: relative;
    display: inline-block;
    float: right;
    width: 40%;
}

#controls {
    position: absolute;
    bottom: 0px;
    z-index: 10;
    width: 80%;
    margin: 0 auto;
    left: 20%;
}

.v-timeline {
    display: inline-block;
}

#leaflet-page {
    flex: 1 1 auto
}

#panel-page {
    display: flex;
    flex-direction: column;
}

.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: 60%;
}

.navbar-nav {
    flex-direction: row;
}