<template>
    <div class="newsitem-notification">
        <!--
        <div class="panel-image">
        </div>
        -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><span class="informational-text">%{Information:} {{ informational.text }}</span></h4>
            </div>
            <div class="panel-body">
                <span class="informational-detail">{{ informational.detail }}</span>
            </div>
            <div class="panel-footer text-left">
                <div class="datetime pull-left">{{ time }}</div>
                <div class="stats pull-right">{{ process.env.VUE_APP_NAME }}</div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
      props: [
        'informational'
      ],
      computed: {
        metadata () {
          return JSON.parse(this.informational.metadata);
        },
        time () {
          var os = this.informational.timeOffset;
          if (os < 60) {
            return '+ ' + os + 's';
          }
          if (os < 3600) {
            return '+ ' + Math.floor(os / 60) + 'm';
          }
          if (os < 24 * 3600) {
            return '+ ' + Math.floor(os / 3600) + 'h ' + Math.floor((os / 60) % 60) + 'm';
          }
          return '+ ' + Math.floor(os / (24 * 3600)) + 'd ' + Math.floor((os / 3600) % 60) + 'h ' + Math.floor((os / 60) % 60) + 'm';
        }
      }
    };
</script>

<style>
/*
.newsitem-social-media    .panel {
        max-width: 250px;
        width: 85%;
        display: inline-block;
    }
.newsitem-social-media    .panel-image {
        width: 10%;
        height: 100%;
        border: thin teal solid;
        display: inline-block;
    }
.newsitem-social-media    .panel-image img {
        width: 50px;
        max-height: 100%;
        height: auto;
        border: none;
        vertical-align: center;
    }
    */
.newsitem-notification {
    height: 160px;
}

.newsitem-notification    .panel-heading {
    background: #4e9bdb;
    color: white;
}

.newsitem-notification .informational-detail {
}

.newsitem-notification .informational-author {
    font-style: italic
}
.newsitem-notification h4 {
    display: inline;
    line-height: 1;
    padding-bottom: 0;
}
</style>
