<template>
  <div class="vis-timeline-wrapper" id="visualization" ref="vis" :style="{ 'text-align': isRTL() ? 'right' : 'left' }">
    <div class="menu">
    </div>
  </div>
</template>



<script>
import moment from "moment";

import "../../../../node_modules/moment/moment.js";
import "../../../../node_modules/moment/locale/en-gb.js";
import "../../../../node_modules/moment/locale/ar-sa.js";
import { Timeline } from "vis-timeline/peer";
import { DataSet } from "vis-data/peer";
import visOverrides from "./vis-timeline-overrides";
import vis from "vis";

//var timeline;
//var options;
export default {
  name: "times",
  props: {
    time: null,
    dataSetArray: {
      type: Array,
      required: false,
      default: function () {
        return [];
      },
    },
    beginTime: null,
    endTime: null,
  },
  data: function () {
    return {
      scale: "hour",
      tween: false,
      startTimeline: new Date(Date.now()),
      endTimeline: new Date(Date.now()),
      timeline: {},
      currentTime: new Date(Date.now()),
    };
  },
  mounted: function () {
    this.startTimeline = this.dateMinus4Hours();
    this.endTimeline = this.datePlus4Hours();
    
    this.timeline = new Timeline(
      this.$refs.vis,
      [],
      this.options
    );
    const timeAxis = this.timeline.components[1];
    timeAxis._repaintMajorLine = visOverrides.repaintMajorLine.bind(timeAxis, this.heightFunction);
    timeAxis._repaintMinorLine = visOverrides.repaintMinorLine.bind(timeAxis, this.heightFunction);
    this.currentTime = this.$store.state.time;

    this.timeline.addCustomTime(this.$store.state.time, "timeBar");
    
    this.timeline.on("timechanged", (properties) => {
      if (!this.tween) {
        this.$store.commit("setTime", properties.time);
      }
    });
    this.timeline.on('select', event => {
      if (event && event.items.length == 1) {
        var item = this.dataSetArray[event.items[0]];
        if (item.start && item.start.getTime() == item.start.getTime()) {
          if (item.challenge != null) {
            this.$store.dispatch("activateChallenge", item.challenge);
          } 
          else if (item.informational != null) {
            this.$store.dispatch("activateInformational", item.informational);
          }
          else {
            this.$store.commit("setTime", item.start);
          }
        }
      }
    });
    this.setupDataSetArray();
  },
  methods: {
    isRTL() {
      return this.$language.current.startsWith('ar');
    },
    snap(date, scale, step) {
      var snapped = new Date(date.valueOf());
      if (scale == 'hour') {
        const mins = snapped.getMinutes()
        snapped.setMinutes(Math.round(mins / 5) * 5);
        snapped.setSeconds(0);
      } else if (scale === 'day') {
        const mins = snapped.getMinutes()
        snapped.setMinutes(Math.round(mins / 15) * 15);
        snapped.setSeconds(0);
      }
      
      return snapped;
    },
    setupDataSetArray() {
      var items = this.dataSetArray;
      var allItems = [];
      allItems.push({
        id: "simulation-background",
        content: "",
        start: this.beginTime,
        end: this.endTime,
        type: "background",
        className: "simulation-background",
      });
      allItems.push.apply(allItems, items);

      this.timeline.setItems(new DataSet(allItems));
    },
    changeTimeScale(scale) {
      this.scale = scale;
    },
    dateMinus4Hours() {
      var startTimeline_ = new Date(this.$store.state.time.getTime());
      startTimeline_.setHours(startTimeline_.getHours() - 4);
      return startTimeline_;
    },
    datePlus4Hours() {
      var endTimeline_ = new Date(this.$store.state.time.getTime());
      endTimeline_.setHours(endTimeline_.getHours() + 4);
      return endTimeline_;
    },
    dateMinus1Day() {
      var startTimeline = new Date(this.$store.state.time.getTime());
      startTimeline.setDate(startTimeline.getDate() - 1);
      return startTimeline;
    },
    datePlus1Day() {
      var endTimeline = new Date(this.$store.state.time.getTime());
      endTimeline.setDate(endTimeline.getDate() + 1);
      return endTimeline;
    },
    
  },
  watch: {
    heightFunction() {
      const timeAxis = this.timeline.components[1];
      timeAxis._repaintMajorLine = visOverrides.repaintMajorLine.bind(timeAxis, this.heightFunction);
      timeAxis._repaintMinorLine = visOverrides.repaintMinorLine.bind(timeAxis, this.heightFunction);
      this.timeline.redraw();
    },
    scale(scale) {
      var start;
      var end;

      if (scale === "hour") {
        start = this.dateMinus4Hours();
        end = this.datePlus4Hours();
      } else if (scale === "day") {
        start = this.dateMinus1Day();
        end = this.datePlus1Day();
      } else {
        this.$log.debug("Unrecognised scale type");
        return;
      }

      /*var options = this.callculate_option(start,end)
      var options = {
        timeAxis: {scale: scale, step: 1},
        start: start,
        end: end,
        stack: false,
      };*/
      this.startTimeline = start;
      this.endTimeline = end;

      this.$store.commit("setTime", new Date(Date.now()));
      this.timeline.setOptions(this.options);

    },
    time: function (time) {
      var start;
      var end;
      this.currentTime = time
      if (this.scale === "hour") {
        start = this.dateMinus4Hours();
        end = this.datePlus4Hours();
      } else if (this.scale === "day") {
        start = this.dateMinus1Day();
        end = this.datePlus1Day();
      } else {
        this.$log.debug("Unrecognised scale type");
        return;
      }

      if (this.timeline.getCustomTime("timeBar")) {
        this.timeline.setCustomTime(time, "timeBar");
      } else {
        this.timeline.addCustomTime(time, "timeBar");
      }
      
      this.startTimeline = start;
      this.endTimeline = end;
      this.timeline.setOptions(this.options);
      this.tween = true;
      this.timeline.moveTo(time, { animation: "easeInOutQuad" });
      this.tween = false;
      
    },
    dataSetArray: function () {
      if (this.timeline) {
        this.setupDataSetArray();
      }
    },
    options: function() {
      this.timeline.setOptions(this.options);
      this.timeline.setCustomTime(this.currentTime, "timeBar");
      this.tween = true;
      this.timeline.moveTo(this.currentTime, { animation: "easeInOutQuad" });
      this.tween = false;
      
    }
  },
  computed: {
    heightFunction() {
      return this.$store.getters.globalRiskByTimeFn;
    },
    options() {
      return {
        snap: this.snap,
        showCurrentTime: false,
        timeAxis: { scale: this.scale, step: 1 },
        start: this.startTimeline,
        end: this.endTimeline,
        editable: false,
        selectable: true,
        stack: true,
        locale: this.$language.current,
        rtl: this.isRTL(),
        locales: {
          ar_SA: {
            current: "حالي",
            time: "وقت",
          },
          en_GB: {
            current: "Current",
            time: "Time",
          },
        },
      };
    }
    
  },
};
</script>

<style>
@import "../../../../node_modules/vis-timeline/styles/vis-timeline-graph2d.css";
.vis-timeline-wrapper {
  border-radius: 5px;
  background: none;
}

.vis-timeline-wrapper .vis-timeline {
  border: none;
  font-size: 180%;
  font-family: "League Gothic";
  width: 100%;
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 6px;
}

/*.vis-timeline-wrapper .vis-time-axis .vis-text {
}
*/
.vis-timeline-wrapper .vis-panel.vis-center {
  border: none;
}

.vis-timeline-wrapper .vis-panel.vis-bottom {
  background: none;
}

.vis-timeline-wrapper .vis-timeline .vis-time-axis .vis-text {
  color: red;
  line-height: 1.1;
}
/*
.vis-timeline-wrapper .vis-timeline .vis-itemset {
}
*/

.vis-timeline-wrapper .vis-custom-time.timeBar {
  background-color: #88dd88;
  box-shadow: 0 0 5px 5px rgba(60, 60, 60, 0.5);
  width: 10px;
  height: 80px !important;
  bottom: 0px;
  border-radius: 10px 10px 0px 0px;
  top: auto !important;
  cursor: move;
  z-index: 1;
}

.vis-timeline-wrapper .menu {
  position: absolute;
  top: 0;
  right: 160px;
  margin: 10px;
  z-index: 9999;
}

.vis-timeline-wrapper .vis-item.timeline-news {
  background-color: crimson;
  font-size: 35%;
  color: white;
  font-family: "League Gothic";
  border-radius: 7px;
  border: 1px solid red;
}

.vis-timeline-wrapper .vis-item.timeline-task {
  background-color: #00ac46;
  font-size: 35%;
  color: white;
  font-family: "League Gothic";
  border-radius: 7px;
  border: 1px solid #00ac46;
  line-height: 1.2;
}
.vis-timeline-wrapper .vis-item.timeline-task-level1 {
  background-color: #4d4dff;
  font-size: 35%;
  color: white;
  font-family: "League Gothic";
  border-radius: 7px;
  border: 1px solid #0098ac;
  line-height: 1.2;
}

.vis-timeline-wrapper .vis-item.timeline-task-level2 {
  background-color: #00cc00;
  font-size: 35%;
  color: white;
  font-family: "League Gothic";
  border-radius: 7px;
  border: 1px solid #00cc00;
  line-height: 1.2;
}
.vis-timeline-wrapper .menu button {
  background-color: #00ac46;
  font-size: 180%;
  color: white;
  font-family: "League Gothic";
}
.vis-timeline-wrapper .menu button.active {
  background-color: #88ff88;
  color: #008800;
  border: thin solid #00ac46;
}
.vis-timeline-wrapper .vis-item.vis-background.simulation-background {
  height: 20px !important;
  background-color: rgba(255, 225, 200, 0.1);
}
.vis-time-axis .vis-grid.vis-vertical {
  border-left: none;
  background-color: rgba(100, 200, 255, 0.8);
  border-radius: 10px 10px 0px 0px;
}
.vis-time-axis .vis-grid.vis-vertical.in-simulation {
  background-color: rgba(255, 200, 100, 0.8);
}
</style>
