<template>
  <div>
  </div>
</template>

<script>
import L from 'leaflet';
import '../../gLayers.Leaflet/L.CanvasLayer.js';
import {DeferredReadyMixin} from 'vue-leaflet/src/deferredReady';
//import * as Conrec from './../../conrec.js/conrec.js';
const Conrec = require('./../../conrec.js/conrec.js').Conrec;

  export default {
    mixins: [DeferredReadyMixin],
    props: {
      resultGrids: {
        type: Array,
        default: null
      },
      heatpoints: {
        type: Object,
        default: () => []
      },
      contourConfig: {
        type: Object,
        default: () => {}
      },
      dangerColor: {
        type: Array,
        default: () => [[200, 0, 0, 0.5], [200, 0, 0, 0.3]]
      }
    },
    data () {
      return {
        registered: false,
        data: null,
        canvasLayer: null,
        config: {
          step: 10,
          mode: 'contour'
        }
      };
    },
    created () {
      this.$map = null;
      this.$on('map-ready',
        function (map) {
          this.$map = map;
        }
      );
    },
    deferredReady () {
      this.$bus.$emit('register-component', this);
      this.registered = true;
    },
    methods: {
      arcKeyToLatLng (description, arcKey) {
        var nw = description.northWest;
        var se = description.southEast;
        var dLat = description.divisionsLat;
        var dLon = description.divisionsLon;
        return [[
          nw[0] - arcKey[1] * (nw[0] - se[0]) / (dLat - 1),
          se[1] - arcKey[0] * (se[1] - nw[1]) / (dLon - 1)
        ], [
          -(nw[0] - se[0]) / (dLat - 1),
          -(se[1] - nw[1]) / (dLon - 1)
        ]];
      },
      onDrawLayer (params) {
        var ctx = params.canvas.getContext('2d');
        var map = params.layer._map;
        ctx.clearRect(0, 0, params.canvas.width, params.canvas.height);
        //creates the street lights
        this.canvasData.points.map(function (d) {
          var c = [d.location.coordinates[1], d.location.coordinates[0]];
          ctx.fillStyle = 'rgba(255, 255, 96, 0.2)';
          //this.$log.debug("Context area? --" + ctx);
          if (params.bounds.contains(c)) {
            var dot = map.latLngToContainerPoint(c);
            ctx.beginPath();
            ctx.arc(dot.x, dot.y, 5, 0, Math.PI * 2);
            ctx.closePath();
            ctx.fill();
          }
        });
        var configMode = this.contourConfig.mode;
        var dc = this.dangerColor;
        var dangerColor = [
          'rgba(' + dc[0] + ', ' + dc[1] + ', ' + dc[2] + ', ' + dc[3] * 0.5 + ')',
          'rgba(' + dc[0] + ', ' + dc[1] + ', ' + dc[2] + ', ' + dc[3] * 0.3 + ')'
        ];
        if (configMode === 'block') {
          this.canvasData.elts.map(function (d) {
            var c1 = [d.coordinates[0][0], d.coordinates[0][1]];
            var c2 = [c1[0] - d.coordinates[1][0], c1[1] - d.coordinates[1][1]];
            if (params.bounds.contains(c1) || params.bounds.contains(c2)) {
              var fillStyle = "rgba(0, " + Math.round(2 * 125 * (c1[1] + 7)) + ", 155, 1.0)";
              fillStyle = "rgba(0, " + Math.round(d.value) + ", 155, 0.5)";
              fillStyle = "rgba(0, " + Math.round(255 * d.value) + ", 155, 0.5)";
              var height = d.value;
              fillStyle = "rgba(0, " + Math.round((height / 5)) * 5 + ", " + (height > 5 ? (height > 20 ? '155' : '255') : '0') + ", 1.0)";
              if (d.value > 0.5) {
                fillStyle = dangerColor[0];
                if (d.value < 0.9) {
                  fillStyle = dangerColor[1];
                }
                ctx.fillStyle = fillStyle;
                var dot1 = map.latLngToContainerPoint(c1);
                var dot2 = map.latLngToContainerPoint(c2);
                ctx.fillRect(dot1.x, dot1.y, dot2.x - dot1.x, dot2.y - dot1.y);
              }
            }
          });
        } else {
          var configStep = this.contourConfig.step;
          if (this.canvasData.isolines) {
            this.canvasData.isolines.forEach(function (isolines) {
              if (isolines.lines.length) {
                var red = 40;
                if (isolines.level < 0.6) {
                  red = Math.round((dc[0] + dc[1] + dc[2]) / 6);
                }
                var opacity = 0.1 * Math.min(10, Math.floor(6 * dc[3] * (0.2 + isolines.level)));
                var fillStyle = 'rgba(' + red + ', ' + dc[1] + ', ' + dc[2] + ', ' + opacity + ')';
                //this.$log.debug(fillStyle);
                //ctx.fillStyle = fillStyle;
                ctx.fillStyle = fillStyle;
                ctx.beginPath();
                isolines.lines.forEach(function (isoline) {
                  var anyIn = true;
                  var cs = isoline.map(function (c) {
                    return map.latLngToContainerPoint([c.y, c.x]);
                  });
                  if (anyIn) {
                    var start = cs[0];
                    ctx.moveTo(start.x, start.y);
                    var step = configStep;
                    if (cs.length <= step) {
                      step = 1;
                    }
                    var lastStep = (Math.floor(cs.length / step) - 1) * step;
                    var nextMid = [];
                    for (var i = step; i < lastStep; i += step) {
                      nextMid = [
                        (cs[i].x + cs[i + step].x) / 2,
                        (cs[i].y + cs[i + step].y) / 2
                      ];
                      ctx.quadraticCurveTo(cs[i].x, cs[i].y, nextMid[0], nextMid[1]);
                      ctx.lineTo(cs[i].x, cs[i].y);
                    }
                    nextMid = [
                      (cs[lastStep].x + cs[0].x) / 2,
                      (cs[lastStep].y + cs[0].y) / 2
                    ];
                    ctx.quadraticCurveTo(cs[lastStep].x, cs[lastStep].y, nextMid[0], nextMid[1]);
                    ctx.lineTo(cs[lastStep].x, cs[lastStep].y);
                    nextMid = [
                      (cs[0].x + cs[step].x) / 2,
                      (cs[0].y + cs[step].y) / 2
                    ]; 
                    ctx.quadraticCurveTo(cs[0].x, cs[0].y, nextMid[0], nextMid[1]);
                    ctx.lineTo(cs[0].x, cs[0].y);
                //this.$log.debug("drawing isolines - ", this.canvasData.isolines);
                  }
                });
                ctx.closePath();
                //ctx.strokeStyle = 'rgba(' + red + ', 255, 10, ' + red + ')';
                //ctx.stroke();
                ctx.fill('evenodd');
              }
            });
          }
        }
        if (this.canvasData.set) {
          this.$log.debug("LOOK HERE", this.canvasData.set);
          var northWest = this.canvasData.set.description.northWest;
          var southEast = this.canvasData.set.description.southEast;
          var p1 = map.latLngToContainerPoint([northWest[0], northWest[1]]);
          var p2 = map.latLngToContainerPoint([southEast[0], southEast[1]]);
          //this.$log.debug(p1);
          //onsole.log(p2);
          ctx.beginPath();
          // Creates outline in red around context area rectangle
          ctx.strokeRect(p1.x, p1.y, p2.x - p1.x, p2.y - p1.y);
          ctx.strokeStyle = 'rgba(255, 10, 10, 0.4)';
          ctx.lineWidth = 20;
          ctx.closePath();
          ctx.stroke();
          ctx.fill();
        }
      },
      //error in this method?
      updateHeatPoints () {
      if (this.registered && this.$map) {
        var data = {
          elts: [],
          points: [],
          isolines: []
        };
        //this.$log.debug("elements? ", data.elts);
        var toLatLng = this.arcKeyToLatLng;
        var configMode = this.contourConfig.mode;
        this.resultGrids.forEach(function (set) {
          var arc = set.grid;
          //this.$log.debug("Is the arc set on CanvasOverlay? ", arc);
          if (configMode === 'block') {
            data.elts = data.elts.concat(Object.keys(arc).map(function (k) {
              return {
                coordinates: toLatLng(set.description, k.split(',')),
                value: arc[k]
              };
            }));
          } else {
            var xs = [];
            var ys = [];
            var nw = set.description.northWest;
            var se = set.description.southEast;
            var dLat = set.description.divisionsLat;
            var dLon = set.description.divisionsLon;
            var blankRow = [];
            for (var i = -1; i < dLat + 1; i++) {
              blankRow.push(-1);
            }
            var rect = [blankRow];
            for (var i1 = 0; i1 < dLon; i1++) {
              var row = [-1];
              for (var j1 = 0; j1 < dLat; j1++) {
                //center of contourish
                row.push(0);
              }
              //puts -1s around the edge of the matrix
              row.push(-1);
              rect.push(row);
            }
            rect.push(blankRow);
            for (var i2 = -1; i2 < dLon + 1; i2++) {
              xs.push(nw[1] + i2 * (se[1] - nw[1]) / (dLon - 1));
            }
            for (var j2 = -1; j2 < dLat + 1; j2++) {
              ys.push(se[0] + j2 * (nw[0] - se[0]) / (dLat - 1));
            }
            for (var k in arc) {
              var key = k.split(',');
              var top = dLat - parseInt(key[1]);
              var left = dLon - parseInt(key[0]);
              //if sets the contours based on risk
              if (arc[k] > 0.9) {
                rect[left][top] = 1;
                rect[left + 1][top] = 1;
                rect[left + 1][top + 1] = 1;
                rect[left][top + 1] = 1;
              }
            }
            //if()
            for (var i3 = 0; i3 < dLat + 1; i3++) {
              rect[0][i3] = -1;
              rect[dLon][i3] = -1;
            }
            for (var i4 = 0; i4 < dLon + 1; i4++) {
              rect[i4][0] = -1;
              rect[i4][dLat] = -1;
            }
            //conrec.contour(rect, 0, dLon + 1, 0, dLat + 1, xs, ys, 3, [0.1, 0.5, 0.5]);
            //this.$log.debug(Conrec.Conrec);
            // eslint-disable-next-line
            var conrec = new Conrec();
            //this.$log.debug("Polygon error? " + conrec);
            /*
            var rectString = "";
            for (var i5 = 0; i5 < dLat + 1; i5+=3) {
              for (var i6 = 0; i6 < dLon + 1; i6+=3) {
                var valString = ("" + rect[i6][i5]);
                valString = valString.charAt(2);
                rectString += (rect[i6][i5] ? valString : ".");
              }
              rectString += "\n";
            }
            this.$log.debug(rectString);
            */
            conrec.contour(rect, 0, dLon + 1, 0, dLat + 1, xs, ys, 1, [0.5]);
            var isolines09 = conrec.contourList();
            for (var finalArc in arc) {
              var finalKey = finalArc.split(',');
              var finalTop = dLat - parseInt(finalKey[1]);
              var finalLeft = dLon - parseInt(finalKey[0]);
              if (arc[finalArc] > 0.5) {
                rect[finalLeft][finalTop] = 1;
                rect[finalLeft + 1][finalTop] = 1;
                rect[finalLeft + 1][finalTop + 1] = 1;
                rect[finalLeft][finalTop + 1] = 1;
              }
            }
            conrec.contour(rect, 0, dLon + 1, 0, dLat + 1, xs, ys, 1, [0.5]);
            var isolines05 = conrec.contourList();
            data.isolines.push({
              level: 0.5,
              lines: []
            });
            for (var n in isolines05) {
              data.isolines[0].lines.push(isolines05[n]);
            }
            data.isolines.push({
              level: 0.9,
              lines: []
            });
            for (var m in isolines09) {
              data.isolines[1].lines.push(isolines09[m]);
            }
            data.set = set;
            }
          });
          if (this.heatpoints.chunk) {
            data.points = this.heatpoints.chunk;
          }
          this.canvasData = data;
          if (this.canvasLayer) {
            this.canvasLayer.needRedraw();
          }
      }
    }
  },

    watch: {
      registered () {
        if (this.canvasLayer) {
          var canvas = this.canvasLayer;
          this.canvasLayer = null;
          this.$map.removeLayer(canvas);
      }

        if (this.registered && this.$map) {
          /* This section based on Sumbera's Leaflet Canvas Overlay example [MIT]
          https://github.com/Sumbera/gLayers.Leaflet/blob/master/L.CanvasLayerSample.html */
          this.canvasLayer = L.canvasLayer().delegate(this).addTo(this.$map);
        }
        this.updateHeatPoints();
      },
      resultGrids () {
        this.updateHeatPoints();
      },
      heatpoints () {
        this.updateHeatPoints();
      },
      contourConfig () {
        this.$log.debug('change contour config');
        this.$log.debug(this.contourConfig);
        this.updateHeatPoints();
      }

    }
  };
</script>
