<!-- vue-leaflet -->
<template>
    <div class='feature-marker-popover'>
        <div class='feature-marker-popover-content'>
            <h2>{{ display.name }}</h2>
            <p>{{ display.description }}</p>
            <p><small><a href='http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/' v-translate>UK Open Government License</a></small></p>
        </div>
    </div>
</template>

<script>
    import L from 'leaflet';
    import Features from '../../features';

    export default {
      props: {
        featureSet: {default: null},
        feature: {default: null},
        health: {default: 100},
        parent: {default: null}
      },

      data () {
        return {
          prepared: false
        };
      },

      mounted () {
        this.$bus.$emit('register-component', this);
        var imagePath = './../images/leaflet/normal';

        L.Icon.Default.imagePath = imagePath;

        this.prepared = true;
      },

      methods: {
        regenerate () {
          if (this.prepared) {
            if (this.marker) {
              this.parent.removeLayer(this.marker);
              this.marker = null;
            }
            var icon = this.display.icon;
            if (this.display.icon) {
              var options = {
                title: this.display.name,
                icon: icon
              };
                        /* Laravel Postgis is reverse coords */
              var x = this.feature.location.coordinates[1];
              var y = this.feature.location.coordinates[0];

              var marker = L.marker([x, y], options).on('click', this.popover);
              this.parent.addLayer(marker);
              this.marker = marker;
            }
          }
        },
        popover () {
          this.$emit('popover', this.$el.children[0].innerHTML, Features.get(this.featureSet.slug, 'image'));
        }
      },

      watch: {
        prepared: function () {
          this.regenerate();
        },
        featureSet: function () {
          this.regenerate();
        },
        feature: function () {
          this.regenerate();
        },
        health: function () {
          this.regenerate();
        }
      },

      computed: {
        setData: function () {
          return this.setProperties[this.featureSet.slug];
        },

        display: function () {
          var set = this.featureSet.slug;

          var mode = 'normal';
          if (this.health < 90.0) {
            mode = 'warn';
          }

          var name = this.featureSet.name;
          var description = this.featureSet.description;

          var formatter = Features.get(set, 'formatter', mode);
          if (formatter) {
            name = formatter.name(this.feature);
            description = formatter.description(this.feature);
          }

          var icon = L.icon(Features.get(set, 'icon', mode));

          return {
            name: name,
            description: description,
            icon: icon
          };
        }
      }
    };
</script>

<style>
    .feature-marker-popover {
        display: none
    }
</style>
