<template>
	<div></div>
</template>

<script>
    import L from 'leaflet';
    import {DeferredReadyMixin} from 'vue-leaflet/src/deferredReady';

    export default {
      mixins: [DeferredReadyMixin],
      props: {
        heatpoints: {
          type: Array,
          default: () => []
        }
      },
      data () {
        return {
          registered: false,
          canvasLayer: null
        };
      },

      created () {
        this.$map = null;
        this.$on('map-ready',
                function (map) {
                  this.$map = map;
                }
            );
      },

      deferredReady () {
        this.$bus.$emit('register-component', this);
        this.registered = true;
      },

      methods: {
        updateHeatPoints () {
          if (this.canvasLayer) {
            var canvas = this.canvasLayer;
            this.canvasLayer = null;
            this.$map.removeLayer(canvas);
          }

          if (this.registered && this.heatpoints.length > 0 && this.$map) {
            var points = this.heatpoints;
            var map = this.$map;

                    /* This section based on Sumbera's Leaflet Canvas Overlay example [MIT]
                       https://github.com/Sumbera/gLayers.Leaflet/blob/master/L.CanvasLayerSample.html */
            this.canvasLayer = L.canvasOverlay()
                        .params({data: points})
                        .drawing(function (canvasOverlay, params) {
                          var ctx = params.canvas.getContext('2d');
                          ctx.clearRect(0, 0, params.canvas.width, params.canvas.height);
                          ctx.fillStyle = 'rgba(255, 255, 96, 0.2)';

                          params.options.data.map(function (d, i) {
                            var c = [d.location.coordinates[1], d.location.coordinates[0]];
                            if (params.bounds.contains(c)) {
                              var dot = map.latLngToContainerPoint(c);
                              ctx.beginPath();
                              ctx.arc(dot.x, dot.y, 5, 0, Math.PI * 2);
                              ctx.fill();
                              ctx.closePath();
                            }
                          });
                        })
                        .addTo(this.$map);

                    // (function(selection, projection) {
                    //    var updateSelection =selection.selectAll('circle').data(points);

                    //    var enter = updateSelection.enter();
//                  //      enter.append('g').html($('#lcanvasoverlay').html());
                    //        enter
                    //            .append('circle');/*
                    //            .attr('cx', function (d) { return projection.latLngToLayerPoint(d.location.coordinates).x; })
                    //            .attr('cy', function (d) { return projection.latLngToLayerPoint(d.location.coordinates).y; });*/

                    // }).addTo(this.$map);

            return '';
          }

          return null;
        }
      },

      computed: {
        heatcount () {
          return this.heatpoints.length;
        }
      },

      watch: {
        registered () {
          this.updateHeatPoints();
        },

        heatpoints () {
          this.updateHeatPoints();
        }
      }
    };
</script>
