<!-- vue-leaflet -->
<template>
  <MglMap :accessToken="mapboxAccessToken" :mapStyle="provider" @load="onMapLoaded">
    <slot></slot>
  </MglMap>
</template>

<script>
    import Q from 'q';
    import Vue from 'vue';
    import {DeferredReady} from 'vue-leaflet/src/deferredReady';
    import mapboxgl from 'mapbox-gl';
    import { MglMap } from 'vue-mapbox';
    import { mapboxAccessToken } from '../../mapvars';
    Vue.use(DeferredReady);

    export default{
      mixins: [DeferredReady],
      data () {
        return {
          mapboxAccessToken
        };
      },
      props: ['center', 'zoom', 'minZoom', 'maxZoom', 'provider'],
      methods: {
        onMapLoaded (ev) {
          this.mapObject = ev.map;
          this.actions = ev.component.actions;
        }
      },
      components: {
        MglMap
      },
      created () {
        this.mapCreatedDefered = Q.defer();
        this.mapCreated = this.mapCreatedDefered.promise;

        var map = this;
        this.$bus.$on('register-component', function (child) {
          if (!map.mapObject) { throw new Error('Map not initialized'); }
          child.$emit('map-ready', map.mapObject);
          // Simpler: child.$map = mapObject but not so
          // modular
        });
      },
      watch: {
        center (newCenter) {
          if (this.mapObject) {
            const currentCenter = this.mapObject.getCenter();
            if (newCenter[0] !== currentCenter.lat || newCenter[1] !== currentCenter.lng) {
              this.actions.flyTo({ center: [newCenter[1], newCenter[0]] });
            }
          }
        }
      },
      mounted () {
        // mapboxgl.accessToken = mapboxAccessToken;
        // this.mapObject = new mapboxgl.Map({
        //   container: 'map',
        //   style: this.provider,
        //   center: this.center,
        //   zoom: this.zoom,
        //   minZoom: this.minZoom,
        //   maxZoom: this.maxZoom
        // });
        // this.mapObject.on('dblclick', (ev) => this.$emit('dblclick', ev));
      }
    };
</script>
<style type="text/css">
</style>
