<!-- vue-leaflet -->
<template>
  <div>
  </div>
</template>

<script>
    import L from 'leaflet';
    import Features from '../../features';
    import {DeferredReadyMixin} from 'vue-leaflet/src/deferredReady';
    import lfeaturemarker from './FeatureMarker.vue';
    import 'leaflet.markercluster';
    import '../../../../node_modules/leaflet.markercluster/dist/MarkerCluster.css';

    export default {
      mixins: [DeferredReadyMixin],

      props: {
        getHealth: {default: null},
        setData: {default: null, arc: []},
        popover: {default: null},
        timeOffset: {default: null},
        featureSet: {default: null}
      },

      data () {
        return {
          markers: null,
          totalMode: 'normal',
          prepared: false
        };
      },

      components: {
        // lfeaturemarker: lfeaturemarker
      },

      created () {
        this.$map = null;
        this.$on('map-ready',
                function (map) {
                  this.$map = map;
                }
            );
      },

      deferredReady () {
        this.$bus.$emit('register-component', this);
        this.prepared = true;
      },

      destroyed () {
        if (this.markers) {
          this.$map.removeLayer(this.markers);
        }
      },

      methods: {
        regenerate () {
          if (this.prepared) {
            if (this.markers) {
              this.$map.removeLayer(this.markers);
              this.markers = null;
            }
            var featureSet = this.featureSet;
            var layersToAdd = [];

            let totalHealth = 100;
            if (this.setData.chunk) {
              var setData = this.setData;
              var healthToMode = this.healthToMode;
              var getHealth = this.getHealth;
              var addMarker = this.addMarker;

              totalHealth = 0;
              setData.chunk.forEach(function (feature, ix) {
                var health = setData.arc ? getHealth(setData.arc.h[ix]) : 100;
                totalHealth += health / 100.;
                var mode = healthToMode(health);
                var marker = addMarker(feature, mode, health);
                layersToAdd.push(marker);
              });
              totalHealth = 100 * totalHealth / setData.chunk.length;
            }
            this.totalMode = healthToMode(totalHealth);
            const component = this;

            var markers = L.markerClusterGroup({
              spiderfyOnMaxZoom: false,
              disableClusteringAtZoom: 16,
              iconCreateFunction (cluster) {
                var count = cluster.getChildCount();
                var totalHealthArray = cluster.getAllChildMarkers()
                  .filter(mark => mark.options && (mark.options.health !== undefined));
                var mode = 'normal';
                if (totalHealthArray.length) {
                  totalHealthArray = totalHealthArray
                    .reduce((agg, mark) => { agg.push(mark.options.health); return agg; }, []);
                  mode = healthToMode(totalHealthArray.reduce((s, h) => s + h, 0) / totalHealthArray.length);
                }

                var iconData = Features.get(featureSet.id, 'icon', mode);
                //var icon = L.divIcon({html: html, className: 'feature-marker-cluster__annotation'});
                var icon = L.icon(iconData);
                icon.createIconImage = icon.createIcon;
                icon.createIcon = function (htmlElement) {
                  var oldIcon = icon.createIconImage(htmlElement);
                  var newIcon = document.createElement('div');
                  newIcon.classList.add('leaflet-marker-icon');
                  oldIcon.classList.remove('leaflet-marker-icon');
                  newIcon.classList.add('feature-marker-cluster__marker');
                  newIcon.style.marginTop = oldIcon.style.marginTop;
                  newIcon.style.marginLeft = oldIcon.style.marginLeft;
                  newIcon.style.height = oldIcon.style.height;
                  newIcon.style.width = oldIcon.style.width;
                  oldIcon.style.marginTop = '0px';
                  oldIcon.style.marginLeft = '0px';
                  var newText = document.createElement('div');
                  newText.classList.add('feature-marker-cluster__annotation');
                  newText.appendChild(document.createTextNode(count));
                  newIcon.appendChild(newText);
                  newIcon.appendChild(oldIcon);

                  return newIcon;
                };
                return icon;
              }
            });

            this.markers = markers;

            markers.addLayers(layersToAdd);
            markers.addTo(this.$map);
          }
        },

        healthToMode (health) {
          var mode = 'normal';
          if (health < 90) {
            mode = 'warn';
          }
          return mode;
        },

        openPopover (name, description, icon) {
          var popData = {
            content: '<div class="popover-content">' +
            '    <h5 v-translate>' + name + '</h5>' +
            '    <p><h7 v-translate>' + description + '</h7></p>' +
            //'    <p><small>' +
            //'       <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">UK Open Government License</a>' +
            //'    </small></p>' +
            '</div>',
            image : Features.get(this.featureSet.id, 'image'),
            icon : icon
          } 
          this.$store.commit(
            'setSidebarContent',
            popData
          );
        },

        addMarker (feature, mode, health) {
          var set = this.featureSet.id;
          var name = this.featureSet.name;
          var description = this.featureSet.description;

          var formatter = Features.get(set, 'formatter', mode);
          if (formatter) {
            name = formatter.name(feature.data);
            description = formatter.description(feature.data);
          }

          var icon = L.icon(Features.get(set, 'icon', mode));
          if (icon) {
            var options = {
              title: name,
              icon: icon,
              health: health
            };

            /* Laravel Postgis is reverse coords */
            var x = feature.location.coordinates[1];
            var y = feature.location.coordinates[0];

            var openPopover = this.openPopover;
            var marker = L.marker([x, y], options)
              .on('click', function () {
                openPopover(name, description, icon);
              });

            return marker;
          }
        }
      },

      watch: {
        prepared: function () {
          this.regenerate();
        },

        timeOffset: function () {
          this.markers.clearLayers();
          for (var ix in this.markerList) {
            var marker = this.markerList[ix];
            var healthToMode = this.healthToMode;
            //get health is returning a mode = 'warn' -- should it be returning a number?
            var mode = healthToMode(this.getHealth(this.setData.arc.h[ix]));
            if (marker.mode !== mode) {
              //toUpdate[ix] = mode;
            }
          }

          var layersToAdd = [];

          var setData = this.setData;
          healthToMode = this.healthToMode;
          var getHealth = this.getHealth;
          var addMarker = this.addMarker;

          let totalHealth = 0;
          setData.chunk.forEach(function (feature, ix) {
            var health = setData.arc ? getHealth(setData.arc.h[ix]) : 100;
            var mode = healthToMode(health);
            var marker = addMarker(feature, mode, health);
            totalHealth += health / 100.;
            layersToAdd.push(marker);
          });
          totalHealth = 100 * totalHealth / setData.chunk.length;
          this.totalMode = healthToMode(totalHealth);

          this.markers.addLayers(layersToAdd);

          this.markers.refreshClusters();
        },

        featureSet: function () {
          this.regenerate();
        }
      }

    };
</script>

<style>
.feature-marker-cluster__annotation {
  font-family: 'League Gothic';
  position: absolute;
  background-color: white;
  padding: 3px;
  border-radius: 10px;
  box-shadow: 3px 3px 2px 1px rgba(128, 128, 128, 0.5);
  border: thin rgba(128, 128, 128, 0.5) solid;
}
.feature-marker-cluster__marker {
  text-align: center;
  position: relative;
}
</style>
