<template>
	<div></div>
</template>

<script>
    import L from 'leaflet';
    import {DeferredReadyMixin} from 'vue-leaflet/src/deferredReady';

    export default {
      mixins: [DeferredReadyMixin],
      props: {
        heatpoints: {
          type: Array,
          default: () => []
        }
      },
      data () {
        return {
          registered: false,
          heatLayer: null
        };
      },

      created () {
        this.$map = null;
        this.$on('map-ready',
                function (map) {
                  this.$map = map;
                }
            );
      },

      deferredReady () {
        this.$bus.$emit('register-component', this);
        this.registered = true;
      },

      methods: {
        updateHeatPoints () {
          var options = {
            radius: 50,
            blur: 50,
            maxZoom: 17
          };

          if (this.heatLayer) {
            var heat = this.heatLayer;
            this.heatLayer = null;
            this.$map.removeLayer(heat);
          }

          if (this.registered && this.heatpoints.length > 0 && this.$map) {
            this.heatLayer = L.heatLayer(this.heatpoints, options).addTo(this.$map);
            return '';
          }

          return null;
        }
      },

      computed: {
        heatcount () {
          return this.heatpoints.length;
        }
      },

      watch: {
        registered () {
          this.updateHeatPoints();
        },

        heatpoints () {
          this.updateHeatPoints();
        }
      }
    };
</script>
