<!-- vue-leaflet -->
<template>
	<div>
	</div>
</template>

<script>
    import L from 'leaflet';
    import {DeferredReadyMixin} from 'vue-leaflet/src/deferredReady';

    export default {
      mixins: [DeferredReadyMixin],
      props: ['position', 'icon', 'title'],
      data () {
        return {
          marker: undefined
        };
      },
      created () {
        this.$map = null;
        this.$on('map-ready',
          function (map) {
            this.$map = map;
            this.regenerate();
          }
        );
      },
      watch: {
        icon () {
          this.regenerate();
        },
        title () {
          this.regenerate();
        },
        position () {
          this.regenerate();
        }
      },
      methods: {
        regenerate () {
          if (this.$map && this.icon) {
            if (this.marker) {
              this.$map.removeLayer(this.marker);
              this.marker = null;
            }
            var icon = L.icon({
              iconUrl: process.env.VUE_APP_PUBLIC_PATH + '/images/' + this.icon,
              iconSize: [50, 82],
              iconAnchor: [25, 82],
              tooltipAnchor: [25, 82]
            });
            /* Laravel Postgis is reverse coords */
            var x = this.position[0];
            var y = this.position[1];

            var marker = L.marker([x, y], {
              title: this.title,
              icon: icon
            });
            marker.addTo(this.$map);
            this.marker = marker;
          }
        }
      },
      deferredReady () {
        this.$bus.$emit('register-component', this);
      },
      events: {
      }
    };
</script>
