<template>
	<div></div>
</template>

<script>
    import {DeferredReadyMixin} from 'vue-leaflet/src/deferredReady';

    export default {
      mixins: [DeferredReadyMixin],
      props: [''],

      created () {
        this.$map = null;
        this.$on('map-ready',
                function (map) {
                  this.$map = map;
                }
            );
      },

      deferredReady () {
        this.$bus.$emit('register-component', this);
        this.$emit('bind-popup', 'Test');
        this.prepared = true;
      }
    };
</script>
