<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading" v-translate>Example Component</div>

                    <div class="panel-body" v-translate>
                        I'm an example component!
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
      mounted () {
        this.$log.debug('Component ready.');
      }
    };
</script>
