<template>
    <div id='home-page'>
        <navigation></navigation>
        <b-toast id="my-toast" variant="info" solid toaster='b-toaster-top-full' v-model="showLoading" v-translate>
          <template #toast-title>
            <div class="bv-example-row">
              <b-row class="text-left">
                  <b-col><b-spinner small type="grow"></b-spinner></b-col>
                  <b-col cols="8"><strong v-translate>Loading...</strong></b-col>
              </b-row>
            </div>
          </template>
          <span v-translate>New simulation is being created by processors.</span>    
        </b-toast>
        <b-container id="panel-page" v-show='1' fluid v-if="user && center" class="homeLeaflet">
          <b-row id='leaflet-page' no-gutters>
            <b-col>
              <leaflet-simple
                @dblclick="setPoint"
                :center="center"
                :zoom="10"
                :center-marker-image="focusedSimulation ? 'icon-' + focusedSimulation.phenomenon_id + '.png' : undefined"
                :center-title="focusedSimulation ? focusedSimulation.phenomenon_id : ''"
              ></leaflet-simple>
            </b-col>
          </b-row>
          <div class="action-card add-new" v-if="pickingLocation">
            <b-card text-variant="white" bg-variant="dark" header="Create a Simulation">
              <div>
                  <span v-translate>Double-click on a location</span>
                  <span v-if="modalCreatingCombination">
                      <span v-translate>to choose the epicentre of your new</span> {{ modalCreatingCombination.phenomenon.name }}
                  </span>
                  <b-button @click="() => { pickingLocation = false }" variant="outline-light" v-translate>Cancel</b-button>
              </div>
            </b-card>
          </div>
          <div class="action-card delete-simulation" v-else-if="deletingSimulation">
            <b-card text-variant="white" bg-variant="dark" header="Delete a Simulation">
              <div>
                  <span v-translate>Click on a simulation to delete it from the system</span>
                  <b-button @click="() => { deletingSimulation = false }" variant="outline-light" v-translate>Cancel</b-button>
              </div>
            </b-card>
          </div>
          <div class="add-new" v-else>
              <b-button v-b-modal.modal-add size="lg" variant="primary" class="rounded-circle" no-caret>
                  <b-icon-plus />
              </b-button>
              <b-button @click="deleteSimulation" size="lg" variant="danger" class="rounded-circle" no-caret>
                  <b-icon-trash />
              </b-button>
          </div>
          <div class="floating float-right">
              <b-container>
                  <b-row v-for="alert in alerts" :key="alert[1]">
                    <b-col>
                      <alert :type="alert.type" v-translate>
                          {{ alert.content }}
                      </alert>
                    </b-col>
                  </b-row>

                  <b-row v-for="simulation in simulations" :key="simulation.id" class="simulation-row">
                    <b-col>
                      <simulation :simulation="simulation" @recenter="selectSimulation" :selected="focusedSimulation && simulation.id == focusedSimulation.id" :warning="deletingSimulation">
                      </simulation>
                    </b-col>
                  </b-row>
                  <b-pagination
                  v-if="rows > 3"
                    v-model="currentPage"
                    :total-rows="rows"
                    :per-page="perPage"
                    first-number
                    last-number
                  ></b-pagination>
              </b-container>
          </div>
          

      </b-container>
        <token-modal v-if="showModal && alerts.length == 0" v-on:token_submit="gotToken"></token-modal>
        <b-modal id="modal-add" :title="$gettext('Create Simulation')" @ok="pickSimulationLocation">
            <create-simulation v-on:input="(val) => { modalCreatingCombination = val; }" :value="modalCreatingCombination" />
        </b-modal>
    </div>
</template>

<script>
  import TokenModal from './TokenModal.vue';
  import Simulation from './Simulation.vue';
  import Navigation from './Navigation.vue';
  import Alert from './Alert.vue';
  import CreateSimulation from './CreateSimulation.vue';
  import {ACTION_REQUESTED} from '../state/store.js';
  import leafletSimple from './LeafletSimple.vue';
  import { BIconPlus, BIconTrash } from 'bootstrap-vue';

  export default {
    name: 'homepage',
    data () {
      return {
        modalCreatingCombination: null,
        pickingLocation: false,
        deletingSimulation: false,
        showModal: false,
        showLoading: false,
        perPage: 3,
        currentPage: 1
      
      }
    },

    mounted () {
      this.$store.dispatch('fetchSimulations', {refresh: false});
      this.$store.dispatch('getUsers');
      if (!this.user) {
        this.$store.dispatch('fetchCurrentUser', {refresh: false});
      }
    },

    computed: {
      user () {
        return this.$store.state.user;
      },

      center () {
        if(this.$store.state.currentCenter){
          return this.$store.state.currentCenter;
        }
        return  [54.622978, -6.020508];
      },

      focusedSimulation () {
        return this.$store.state.focusedSimulation;
      },

      alerts () {
        return this.$store.state.alerts;
      },
      simulations() {
        var filteredSims = [];
        var currentUser = this.$store.state.user;
        var sim;
        for (sim in this.$store.state.simulations){
          if (this.$store.state.simulations[sim]['owner_id'] == currentUser['id']){
            filteredSims.push(this.$store.state.simulations[sim])
          }
        }
        filteredSims = filteredSims.slice(
        (this.currentPage - 1) * this.perPage,
        this.currentPage * this.perPage
        );
        return filteredSims;
      },

      rows(){
        return this.simulations.length;
      },
      simulationsState() {
        return this.$store.state.simulationsState;
      }
    },

    watch: {
      user (user) {
        if (user) {
          const loc = user.defaultLocation;
          if (loc && loc.coordinates) {
            this.$store.dispatch('recenterLocation', [loc.coordinates[1], loc.coordinates[0]]);
          }
        }
      },

      simulations(simulations) {
        if (this.simulationsState === ACTION_REQUESTED && simulations.length === 0) {
          this.showModal = true;
        }
      },

      focusedSimulation(simulation) {
        if (simulation) {
          this.setCurrentCenterToSimulation(simulation);
        }
      }
    },

    components: {
      'create-simulation': CreateSimulation,
      'b-icon-plus': BIconPlus,
      'b-icon-trash': BIconTrash,
      'leaflet-simple': leafletSimple,
      'token-modal': TokenModal,
      'simulation': Simulation,
      'navigation': Navigation,
      'alert': Alert
    },

    methods: {
      setPoint: function (event) {
          if (this.pickingLocation && this.modalCreatingCombination) {
              this.pickingLocation = false;
              this.showLoading = true;
              this.$store.dispatch('createCaseContext', {
                  center: event.latlng
              }).then(caseContext => {
                  return this.$store.dispatch('createSimulation', {
                      combination: this.modalCreatingCombination,
                      caseContext: caseContext
                  });
              }).then(async (simulation) => {
                  await this.$store.dispatch('fetchCaseContexts', { refresh: true });
                  await this.$store.dispatch('fetchSimulations', { refresh: true });
                  return simulation;
              }).then((simulation) => {
                  this.$store.dispatch('focusOnSimulation', simulation.toJSON());
              }).then(() => {
                  this.showLoading = false;
              });
          }
      },

      pickSimulationLocation: function () {
          if (!this.modalCreatingCombination) {
              return;
          }
          this.pickingLocation = true;
      },

      deleteSimulation: function () {
          this.deletingSimulation = true;
      },

      selectSimulation: function (simulation) {
          if (this.deletingSimulation) {
              this.deletingSimulation = false;
              this.$store.dispatch('deleteSimulation', simulation);
          } else {
              this.$store.dispatch('focusOnSimulation', simulation);
          }
      },

      setCurrentCenterToSimulation: function (simulation) {
        const center = simulation.center.coordinates;
        this.$store.dispatch('recenterLocation', [center[1], center[0]]);
      },

      gotToken: function (token) {
        this.simulationId = token;
      },

    }
  };
</script>
<style lang="scss">
@import "~@/sass/panel.scss";

#home-page {
    height: 100%;
}

.homeLeaflet{
  height: 90vh;
}


.action-card, .add-new {
    position: absolute;
    z-index: 2;
    left: 5%;
    bottom: 5%;
    float: left;
}
.add-new {
    button.rounded-button {
        border-radius: 100%;
        background: white;
        color: black;
        box-shadow: 0 0 5px 5px #baa;
    }
}

.floating {
    position: absolute;
    width: 30%;
    min-width: 460px;
    right: 0%;
    float: right;
}

.simulation-row {
    padding-top: 1px;
    padding-bottom: 2px;
}

</style>
