<template>
  <transition name='fade'>
    <div class="container" v-if="show">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel" :class="['panel-' + type]">
                    <div class="panel-heading">
                      {{ heading }}

                      <span class="close"
                          v-if="!brief"
                          @click="show = false">
                        &times;
                      </span>
                    </div>

                    <div class="panel-body">
                        <slot></slot>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </transition>
</template>

<script>
  export default {
    props: {
      type: { default: 'info' },
      brief: {
        type: Boolean,
        default: false
      }
    },

    data () {
      return {
        show: true,
        headings: {
          info: 'Information',
          success: 'Success!',
          danger: 'Problem',
          warning: 'Warning!'
        }
      };
    },

    mounted () {
      if (this.brief) {
        setTimeout(
          () => (this.show = false),
            3000
          );
      }
    },

    computed: {
      heading: function () {
        return this.headings[this.type];
      }
    }
  };
</script>

<style>
  .fade-leave-active {
      transition: all .4s ease;
      opacity: 0;
  }

  .panel--close {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
  }
</style>
