<template>
<div>
    <b-nav-item-dropdown name="language" v-model="$language.current" right>
        <template slot="button-content">
            <span class="label label-default"><img height="32px" src="/flags/language-icon.png" alt="language-switcher-flag" class="w-8 h-8 p-1">{{ localeToName($language.current) }}</span>
        </template>

        <b-dropdown-item v-for="(language, key) in $language.available" @click.prevent="setLocale(key)" :key="key">
            <span class="label label-default">{{ localeToName(key) }}</span>
        </b-dropdown-item>
    </b-nav-item-dropdown>
</div>
</template>

<script>
import 'flag-icon-css/css/flag-icon.css'
export default {
    props: {
        simulationId: null
    },
    data() {
        return {}
    },
    methods: {
        localeToName (locale) {
            if (locale.startsWith('en')) {
                return 'English | الإنجليزية';
            } else if (locale.startsWith('ar')) {
                return 'عربى | Arabic';
            }
            return locale
        },
        setLocale(locale) {
          if (this.$i18n.locale != locale) {
            this.$i18n.locale = locale
            this.$language.current = locale

            if ("ar" === locale || "ar_SA" === locale){
              //this.$store.dispatch('setRTL', {rtl:true});
              window.location = location.host + '/ar_SA/v/s/' + this.simulationId
              setTimeout(() => location.reload(), 500);
              
            }
            else {
              //this.$store.dispatch('setRTL', {rtl:false});
              window.relocation = location.host + '/en_GB/v/s/' + this.simulationId
              setTimeout(() => location.reload(), 500);
              
            }
            this.$router.push({
                params: {
                    lang: locale
                }
            })}
           

        },
        getFlagSpanClass(name) {
            var result = "";
            
            if ("" === name || "en" === name || "en_GB" === name) {
                result = "flag-icon flag-icon-gb";
            } else if ("ar" === name || "ar_SA" === name) {
                result = "flag-icon flag-icon-sa";
            } else {
                result = "flag-icon flag-icon-" + name;
            }
            return result;
        },
    }
    

}
</script>
