<template>
    <div class="layer-box-wrapper">
        <input :alt="currentName" :id="'layer-box-' + slug" type="checkbox" v-model="model" class="imageSize"/>
        <label :for="'layer-box-' + slug" :class="{'alter-opacity': alterOpacity}">
            <div :title="currentName" :style="{ backgroundImage: 'url(' + currentImageUrl + ')' }">
            </div>
        </label>
    </div>
</template>

<script>
export default {
  name: 'LayerBox',

  props: {
    slug: null,
    value: { 
      type: Boolean,
      required: false
    },
    imageUrl: null,
    name: null,
    description: null,
    alterOpacity: {
      type: Boolean,
      required: true 
    }
  },


  data () {
    return {
      model: false,
      currentName: '',
      currentDescription: '',
      currentImageUrl: ''
    };
  },

  mounted () {
    var model = this.value;
    this.currentName = this.name(model);
    this.currentDescription = this.description(model);
    this.currentImageUrl = this.imageUrl(model);
    this.model = model;
  },

  watch: {
    model (model) {
      this.currentName = this.name(model);
      this.currentDescription = this.description(model);
      this.currentImageUrl = this.imageUrl(model);
      return this.$emit('input', model);
    }
  }
};
</script>

<style>
.layer-box-wrapper {
}

.layer-box-wrapper div {
  background-repeat: no-repeat;
  background-size: 48px 82px;
  width: 48px;
  height: 52px;
  margin:  auto;
  display: block;
}
.layer-box-wrapper .imageSize {
  display: none;
}
.layer-box-wrapper .unchecked {
}

.layer-box-wrapper input[type=checkbox]:checked+label {
  box-shadow: 3px 5px 3px 5px rgba(97, 152, 132, 0.2);
  border-bottom: 5px solid rgba(80, 180, 103, 0.5);
  opacity: 1.0;
  background-color: rgba(80, 180, 103, 0.2);
}

.layer-box-wrapper label {
  padding-top: 10px;
  border-radius: 5px;
  min-height: 80px;
  background-color: rgba(80, 80, 103, 0.2);
}

.layer-box-wrapper label.alter-opacity {
  opacity: 0.4;
}

.layer-box-wrapper label {
  font-family: "League Gothic";
  font-size: 130%;
  text-transform: uppercase;
  font-weight: normal;
  width: 100px;
  overflow: hidden;
  text-align: center;
}
</style>
