<template>
    <div class='leaflet-page'>
      <div v-if="mappingSystem === 'Mapbox'" class='leaflet-page'>
        <mmap :provider="provider" :zoom="zoom" max-zoom="16" :center="innerCenter" class='leaflet-map' @dblclick="(ev) => $emit('dblclick', ev)">
          <mmarker v-if="centerMarkerImage" :position="innerCenter" :title="innerCenterTitle" :icon="innerCenterMarkerImage"></mmarker>
        </mmap>
      </div>
      <div v-else class='leaflet-page'>
        <lmap :zoom="zoom" max-zoom="16" :center="innerCenter" class='leaflet-map' @dblclick="(ev) => $emit('dblclick', ev)">
          <ltilelayer :provider="provider"></ltilelayer>
          <lmarker v-if="centerMarkerImage" :position="innerCenter" :title="innerCenterTitle" :icon="innerCenterMarkerImage"></lmarker>
        </lmap>
      </div>
  </div>
</template>

<script>
  import ltilelayer from './leaflet/TileLayer.vue';
  import lmap from './leaflet/Map.vue';
  import lmarker from './leaflet/Marker.vue';
  import mmap from './maplibre/Map.vue';
  import mmarker from './maplibre/Marker.vue';
  import { providers } from '../mapvars';

  export default {
    props: {
      center: {default: [54.60, -5.88]},
      zoom: {default: 10},
      centerMarkerImage: {default: undefined},
      centerTitle: {default: ''}
    },

    data () {
      return {
        innerCenter: [54.60, -5.88],
        innerCenterMarkerImage: undefined,
        innerCenterTitle: '',
        providerType: 'monochrome'
      };
    },

    components: {
      ltilelayer,
      lmap,
      lmarker,
      mmap,
      mmarker
    },

    computed: {
      mappingSystem () {
        return this.$store.state.mappingSystem;
      },
      provider () {
        const providersByType = providers[this.$i18n.locale] ? providers[this.$i18n.locale] : providers.default;
        const provider = providersByType[this.providerType];
        return provider;
      }
    },

    watch: {
      center () {
        this.innerCenter = this.center;
      },
      centerTitle () {
        this.innerCenterTitle = this.centerTitle;
      },
      centerMarkerImage () {
        this.innerCenterMarkerImage = this.centerMarkerImage;
      }
    },

    created () {
      this.innerCenter = this.center;
    },

    methods: {
    }
  };
</script>

<style>
    .leaflet-panel-newsticker {
        position: absolute;
        top: 5%;
        left: 100px;
        z-index: 10;
        max-width: 20%;

    }

    .leaflet-panel-tasks {
        position: absolute;
        bottom: 5%;
        left: 100px;
        z-index: 10;
        max-width: 20%;

    }

    .leaflet-page {
        display: flex;
        height: 100%;
        flex-direction: column;
    }

    .leaflet-map {
        flex: 1 1 auto;
    }
    #mapDialog{
        position: absolute;
        right: 20px;
        z-index: 12;
   }
</style>
