<template>
        <div class="mapdialog-wrapper" >
                <div  v-if=showMapDialog class="arrow_box">
                    <div class="arrow_heading">
                      {{ heading }}
                    </div>
                    <div class="arrow_grid">
                      <div
                        @mouseover="setHeading(box.id, box.name(box.active))"
                        @mouseleave="setHeading(box.id, null)"
                        v-for="(box, ix) in boxes" :key="ix">
                        <layer-box
                            :value="box.active"
                            @input="(value) => { box.active = value; box.handler(value) }"
                            :image-url="box.imageUrl"
                            :name="box.name"
                            :description="box.description"
                            :slug="box.id"
                            :alter-opacity="box.alterOpacity">
                        </layer-box>
                      </div>
                    </div>
                </div>
        </div>
</template>

<script>
import Features from '../features';
import LayerBox from './LayerBox.vue';

export default {
  name: 'MapDialog',

  props: {
        //property is the feature sets object?
    featureSets: {default: () => {}}
  },

  components: {
    'layer-box': LayerBox
  },

  data () {
    return {
        sportsFacilities: true,
        industrialFacilities: true,
        culturalHeritageFacilities: true,
        listedBuildings: true,
        skippedSets: [
            'street-light'
        ],
        heading: null,
        defaultHeading: 'Choose Layers...',
        headingFrom: null
    };
  },

  mounted () {
    this.heading = this.defaultHeading;
  },

  methods: {
    setHeading: function (from, name) {
      if (name) {
        this.headingFrom = from;
        this.heading = name;
      } else if (this.headingFrom === from) {
        this.heading = this.defaultHeading;
      }
    },
    toggleDialog: function (set, value) { //eslint-disable-line no-use-before-define
      this.$store.dispatch('toggleMapDialog');
    },
    toggleActive: function (set, value) { //eslint-disable-line no-use-before-define
      var selected = this.boxes.filter(box => box.active).map(box => box.id);
      this.$emit('layersSelected', selected);
    }
  },

  watch: {
    featureSets: function (featureSets) //eslint-disable-line no-use-before-define
{
      var selected = Object.values(this.featureSets).map(set => set.id);
      this.$emit('layersSelected', selected);
    }
  },

  computed: {
    showMapDialog: function () {
      return this.$store.state.showMapDialog;
    },

    boxes: function () {
      var boxes = [];

      var featureSets = Object.values(this.featureSets);
      var skippedSets = this.skippedSets;
      var toggleActive = this.toggleActive;
      var eventProviderChange = (provider) => this.$emit('provider-change', provider);
      var eventContourConfigChange = (contourConfig) => this.$emit('contour-config-change', contourConfig);

      /* Feature Set boxes */
      featureSets.forEach(function (featureSet) {
        var slug = featureSet.id;
        if (!skippedSets.includes(slug) && Features.has(slug)) {
          boxes.push({
            type: 'feature-set',
            id: featureSet.id,
            active: true,
            alterOpacity: true,
            handler: function (value) {
              toggleActive(featureSet.id, value);
            },
            imageUrl (active) {
              var mode = 'warn';
              if (active) {
                mode = 'normal';
              }
              return Features.get(featureSet.id, 'icon', mode).iconUrl;
            },
            name () {
              return Features.get(featureSet.id, 'name');
            },
            description () {
              return featureSet.name + ': ' + featureSet.description;
            }
          });
        }
      });

      boxes.push({
        id: 'toggle-contour-config',
        type: 'contourConfig',
        slug: 'contour-config',
        active: false,
        alterOpacity: false,
        handler: function (value) {
          var contour = {
            mode: 'contour',
            step: 10
          };
          if (value) {
            contour = {
              mode: 'block'
            };
          }
          eventContourConfigChange(contour);
        },
        imageUrl (active) {
          if (active) {
            return process.env.VUE_APP_PUBLIC_PATH + '/images/layermenu/contour-block.png';
          } else {
            return process.env.VUE_APP_PUBLIC_PATH + '/images/layermenu/contour-smooth.png';
          }
        },
        description () {
          return 'Toggle between a black-and-white view, and a colour view';
        },
        name (active) {
          if (active) {
            return 'Blocky Risk';
          } else {
            return 'Smooth Risk';
          }
        }
      });

      boxes.push({
        id: 'toggle-provider',
        type: 'provider',
        slug: 'color-tiles',
        active: false,
        alterOpacity: false,
        handler: function (value) {
          var provider = 'monochrome';
          if (value) {
            provider = 'terrain';
          }
          eventProviderChange(provider);
        },
        imageUrl (active) {
          if (active) {
            return process.env.VUE_APP_PUBLIC_PATH + '/images/layermenu/toner.png';
          } else {
            return process.env.VUE_APP_PUBLIC_PATH + '/images/layermenu/terrain.png';
          }
        },
        description () {
          return 'Toggle between a black-and-white view, and a colour view';
        },
        name (active) {
          if (active) {
            return 'Grey';
          } else {
            return 'Colour';
          }
        }
      });

      return boxes;
    }
  }
};
</script>

<style>
#dialogMenu {
        width:50px;
        cursor: pointer;
        height:50px;
}

.arrow_heading {
        width: 100%;
        text-align: center;
        font-family: "League Gothic";
        text-transform: uppercase;
        font-weight: normal;
        font-size: 180%;
        margin-bottom: 15px;
        border-bottom: 5px rgba(163, 163, 163, 0.2) solid;
}

.arrow_box {
        position: absolute;
        background: white;
        margin-left: -290px;
        margin-top: 15px;
        border-radius: 10px;
        border: 5px solid rgba(80, 163, 103, 0.8);
        box-shadow: 1px 2px 3px 3px rgba(80, 163, 103, 0.6);
        padding: 15px;
        width: 350px;
        height: auto;
}

.arrow_grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
}
.arrow_box:after, .arrow_box:before {
        bottom: 100%;
        right: 5%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
}

/*small Arrow*/
.arrow_box:after {
        border-color: rgba(136, 213, 183, 0);
        border-bottom-color: white;
        border-width: 15px;
        margin-right: 1px;
}
/*big Arrow*/
.arrow_box:before {
        border-color: rgba(194, 245, 225, 0);
        border-bottom-color: #c2f5e1;
        border-width: 21px;
        margin-right: -5px;
}
</style>
