<template>
  <div id="navigation">
    <b-navbar toggleable="md">
      <b-navbar-brand>
        <router-link :to="`/${$i18n.locale}/v/`">
          <img :src="`${$publicPath}/images/${assetl10n('logo-text.png')}`" />
        </router-link>
      </b-navbar-brand>
    
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav class="ml-auto">
          <template v-if="user">
            <b-nav-item-dropdown
              :text="user.forename + ' ' + user.surname"
              :align="rtl ? 'right' : 'left'"
            >
              <!--b-dropdown-item :to="`/${$i18n.locale}/v/panel/edit`"><translate>Edit Profile</translate></b-dropdown-item-->
              <!--b-dropdown-item :to="`/${$i18n.locale}/logout`"><translate>Logout</translate></b-dropdown-item-->
              <b-dropdown-item v-if="affiliation" disabled class="affiliation">
                {{ affiliation.name }}
              </b-dropdown-item>
              <b-dropdown-item @click.prevent="logout">
                <translate>Logout</translate>
              </b-dropdown-item>
            </b-nav-item-dropdown>
          </template>
          <template v-else>
            <b-nav-item
              :to="`/${$i18n.locale}/login`"
              :align="rtl ? 'right' : 'left'"
            >
              <translate>Login</translate>
            </b-nav-item>
          </template>
          <language-switcher :align="rtl ? 'right' : 'left'" />
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
import LanguageSwitcher from "../components/LanguageSwitcher.vue";
import l10n from "../l10n";
import axios from "axios";
import utils from "../utils";
export default {
  name: "Navigation",
  components: {
    LanguageSwitcher,
  },
  mounted() {
    this.$store.dispatch("fetchCurrentUser");
  },
  data() {
    return {
      showModal: false,
    };
  },
  computed: {
    affiliation() {
      return this.$store.state.affiliation;
    },
    user() {
      return this.$store.state.user;
    },
    rtl() {
      return this.$store.state.rtl;
    },
    dynamicHeader() {
      return utils.getObjectWithEnumerableGetter("X-XSRF-TOKEN", () => {
        const csrfCookie = document.cookie
          .split("; ")
          .find((row) => row.startsWith("XSRF-TOKEN"));
        if (csrfCookie) {
          return decodeURIComponent(csrfCookie.split("=")[1]);
        }
        return undefined;
      });
    },
  },
  methods: {
    assetl10n(asset) {
      return l10n.assetl10n(asset, this.$i18n.locale);
    },
    logout: function () {
      axios.defaults.headers.common["CSRF"] = this.dynamicHeader[
        "X-XSRF-TOKEN"
      ];
      axios.post(window.location.origin + "/" + this.$i18n.locale + "/logout")
        .then((response) => {
          
          if (response.status == 302 || response.status == 401 || response.status == 200) {
            window.location.href = "/" + this.$i18n.locale + "/";
          } else {
            this.$log.error(response.status);
          }
        })
        .catch((error) => {
          this.$log.error(error);
        });
    },
  },
};
</script>
<style lang="scss">
@import "~@/sass/panel.scss";

.affiliation {
  font-style: italic;
}

#navigation{
  height:10vh;
}
</style>
