<!-- THIS FILE IS NO LONGER IN USE, CODE REPLACED IN sidebar.vue -->
<template>
  <div class="newsfeed-wrapper">
    <div
      id="newsfeed"
      class="newsfeed"
      v-bind:class="{ newsfeedpopup: isNewsFeedActive }"
    > 
      <img height= 400px; width= 345px :src='`${$publicPath}/images/news.jpg`' />
      <div id="newsFeedBanner">
        
        <div v-if="$language.current == 'ar_SA'" class="arnewsfeed" v-translate>
          NewsFeed!
        </div>
        <div v-else class="news-title" v-translate>News</div>
        
      </div>
      <div id="buttonPanel" >
        
      </div>
      <div id="feedBox">
        <div class="feed-header">
          <h2>{{ text }}</h2>
          <span v-if="owner">: {{ owner }}</span>
          <!-- <div class='feed-icon'><label id="infoIcon" :class="{ newsFlashImage: newsInfo, socialImage: socialInfo, generalImage: generalInfo }" /></div> -->
        </div>
        <div class="description" v-html="subtext"></div>
        <div class="feed-footer">
          <span id="infoDate">{{
            contentDate.toLocaleFormat
              ? contentDate.toLocaleFormat("%d %b %Y %H:%m")
              : ""
          }}</span>
        </div>
        <div>
          <b-link v-if="url" :href="url" target="_blank">More detailed information.</b-link>
        </div>
        <div>
          
        </div>
      </div>
      <b-button size="sm"  @click='getNewsFile' v-if="currentInformational != null"  data-toggle="tooltip" title="Download news file" no-caret>
          <b-icon icon="download" scale="1.5"></b-icon>
      </b-button>

    </div>
    <div id="clickNewsFeed" @click="toggleNewsFeed">
      <span v-translate>NEWS</span>
      <!-- span v-if="numberOfNewsItems > 0" v-translate>NEWS</span>
      <span v-else v-translate>NO NEWS</span -->
    </div>
    <!--<input type="button" value="News Feed" @click="toggleNewsFeed"/>-->
  </div>
</template>

<script>
export default {
  name: "NewsFeed",
  props: {
    simulationId: {
      type: String,
      require: true,
    },
  },
  data() {
    return {
      owner: "News Owner",
      text: "Headline",
      subtext: "News Content here",
      url: "https://www.google.com/",
      contentDate: new Date(),
      contentType: "Content Type",
      isNewsFeedActive: false,
      newsInfo: false,
      generalInfo: false,
      socialInfo: false,
      informationalNumber: 0,
      informational: null,
    };
  },

  computed: {
  
    currentInformational: function () {
      return this.$store.state.activeInformational;
    },
    informationals: function () {
      return this.$store.state.currentInformationals;
    },
    numberOfNewsItems: function () {
      if (this.informationals) {
        return this.informationals.length;
      } else {
        return 0;
      }
    },
  },

  methods: {
    toggleNewsFeed: function () {
    },
    next: function () {
      if (this.informationals) {
        this.setDialogBox();
      }
    },
    setDialogBox: function () {
      if (this.informationals && this.informationals.length > 0) {
        this.informational = this.informationals[this.informationalNumber];
        this.owner = this.informational.owner;
        this.text = this.informational.text;
        this.url = this.informational.url;
        this.subtext = this.informational.subtext;
        if (this.informational.time) {
          this.contentDate = this.carbonToJs(this.informational.time);
          this.$store.commit("setTime", this.contentDate);
        }
        this.contentType = this.informational.informational_type;

        if (this.contentType === "newsflash") {
          this.newsInfo = true;
          this.socialInfo = false;
          this.generalInfo = false;
        } else if (this.contentType === "social-media") {
          this.newsInfo = false;
          this.socialInfo = true;
          this.generalInfo = false;
        } else {
          this.newsInfo = false;
          this.socialInfo = false;
          this.generalInfo = true;
        }

        this.informationalNumber++;
        if (this.informationalNumber === this.numberOfNewsItems) {
          this.informationalNumber = 0;
        }
      }
    },
    populateTimeline: function () {
      var timelinePointsArray = [];
      var index;
      if (this.informationals) {
        this.$log.debug("News size:" + this.informationals.length);
        for (index = 0; index < this.informationals.length; index++) {
          timelinePointsArray.push(
            this.carbonToJs(this.informationals[index].time)
          );
        }
        this.$emit("newsTimelinePoints", timelinePointsArray);
      }
    },
    fetchNews: function () {
        this.populateTimeline();
    },
  },
  mounted() {
    this.fetchNews();
  },
  watch: {
    informationals() {
      this.setDialogBox();
      this.populateTimeline();
    },
    currentInformational() {
      if (this.currentInformational) {
        this.$bus.$emit('hidepopover');
        this.$bus.$emit('togglesidebar');
        this.$store.commit('toggleNewsfeed');
        this.id = this.currentInformational.id;
        this.informational = this.informationals[this.informationalNumber];
        this.owner = this.informational.owner;
        this.text = this.informational.text;
        this.url = this.informational.url;
        this.subtext = this.informational.subtext;
        if (this.informational.time) {
          this.contentDate = this.carbonToJs(this.informational.time);
          this.$store.commit("setTime", this.contentDate);
        }
        this.contentType = this.informational.informational_type;

        if (this.contentType === "newsflash") {
          this.newsInfo = true;
          this.socialInfo = false;
          this.generalInfo = false;
        } else if (this.contentType === "social-media") {
          this.newsInfo = false;
          this.socialInfo = true;
          this.generalInfo = false;
        } else {
          this.newsInfo = false;
          this.socialInfo = false;
          this.generalInfo = true;
        }

        this.informationalNumber++;
        if (this.informationalNumber === this.numberOfNewsItems) {
          this.informationalNumber = 0;
        }
      }
    },
    '$store.state.isNewsfeedActive' : function () {
      this.isNewsFeedActive = this.$store.state.isNewsfeedActive
    }
  },
};
</script>

<style>

.newsfeed-wrapper #clickNewsFeed {
  display: none;
  background: darkgray;
  border-bottom: 10px solid darkgray;
  box-shadow: 0px 0px 3px 3px rgba(180, 190, 180, 0.5);
  width: 100%;
  height: 100px;
  border-radius: 10px;
  text-align: center;
  padding-top: 25px;
  color: white;
  font-family: "League Gothic";
  font-size: 240%;
  line-height: 1.1;
}

@media (max-width: 800px) {
  .newsfeed-wrapper .newsfeed {
  position: relative;
  display: inline-block;
  height: 150px;
  background: crimson;
  width: 300px;
  padding: 15px;
  color: white;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
}

.newsfeed-wrapper .newsfeed {
  bottom: -800px;
  visibility: hidden;
  display: inline-block;
  height: 800px;

  background: rgb(248, 249, 250);
  width: 320px;
  color: darkslategray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.newsfeed-wrapper .newsfeedpopup {
  visibility: visible;
  
}

.newsfeed-wrapper #feedBox {
  width: 100%;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
  padding-left: 10px;
  

}

.newsfeed-wrapper .content {
  color: darkslategray;
  flex-grow: 2;
}

.newsfeed-wrapper #infoDate {
  float: right;
}

.newsfeed-wrapper #infoIcon {
  float: right;
}

.newsfeed-wrapper #next {
  background-color: white;
  height: 35px;
  border: 1px white solid;
  border-radius: 3px;
  text-align: center;
  line-height: 35px;
}

.newsfeed-wrapper .newsFlashImage {
  display: block;
  background-image: url("./images/newsfeed/orp-news-icon.svg");
  width: 40px;
  height: 60px;
  background-size: 40px 60px;
  background-position: center;
  background-attachment: center;
}

.newsfeed-wrapper .generalImage {
  display: block;
  width: 40px;
  height: 60px;
  background-image: url("./images/newsfeed/orp-network-icon.svg");
  background-size: 40px 60px;
  background-position: center;
  background-attachment: center;
}

.newsfeed-wrapper .socialImage {
  display: block;
  width: 40px;
  height: 60px;
  background-image: url("./images/newsfeed/orp-social-icon.svg");
  background-size: 40px 60px;
  background-position: center;
  background-attachment: center;
}

.newsfeed-wrapper .showNewsFeed {
  color: white;
}

.newsfeed-wrapper .button {
  cursor: pointer;
}

.newsfeed-wrapper .feed-icon {
  background-color: white;
  position: absolute;
  right: 0px;
  z-index: 1;
  top: 0px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  width: 50px;
  min-height: 60px;
  background-size: 40px 60px;
  border-radius: 4px 4px;
}

.newsfeed-wrapper .feed-header h2 {
  display: inline-block;
  font-family: "League Gothic";
  font-weight: normal;
  text-transform: uppercase;
  width: 80%;
}

.newsfeed-wrapper .feed-header {
  position: relative;
}

.newsfeed-wrapper .feed-footer {
  position: absolute;
  bottom: 3px;
  right: 5px;
}
.newsfeed-wrapper .description {
  overflow-y: auto;
  max-height: 190px;
  min-height: 70px;
  color: darkslategray;
  flex-grow: 2;
}

#newsFeedBanner{
  bottom: 300px;  
  border-left: 10px solid crimson;
  padding-left: 5px;
  color: darkslategray; 
  font-size: xx-large;
  font-weight: 600;

}
</style>
