<template>
    <div id="panel-page-leaflet" v-if="simulation" v-show='1'> 
      <navigation v-if="hidden == false" class="nav"></navigation>
        <b-navbar toggleable="lg" class="panelNav" type="dark">
          <v-tour name="myTour" :steps="steps"></v-tour>
                <b-navbar-brand class="panel-page__header-block" :class="{ arHeaderBlock: rtl }">
                    <div style="vertical-align: middle" class="panel-page__phenomenon-symbol">
                        <img :src="$publicPath + phenomenon.symbol" />
                    </div>
                    <div class="panel-page__header-block-inner">
                        <div :style="{color: phenomenon.color}" class="panel-page__phenomenon-header">
                            {{ phenomenon.name }}
                        </div>
                        <div class="panel-page__caption-header">
                            <strong v-translate>Notes</strong>: {{ caseContext.name }}
                        </div>
                    </div>
                </b-navbar-brand>
                <b-navbar-toggle target="panel-page__menu"></b-navbar-toggle>
                <b-collapse id="panel-page__menu" class="panel-page__menu" right is-nav>
                  <b-navbar-nav>
                    <b-nav-item>
                      <!--b-button name='play' v-on:click='play' class="panel-page__icon-symbol">
                        <template v-if="timer">
                          <div class='ringed-icon'>
                            <font-awesome-icon size="lg" icon="stop" />
                          </div>
                          <p v-translate>Stop</p>
                        </template>
                        <template v-else>
                          <div class='ringed-icon'>
                            <font-awesome-icon size="sm" icon="play" />
                          </div>
                          <p v-translate>Play</p>
                        </template>
                      </b-button-->
                    </b-nav-item>
                    <!--b-nav-item>
                        <b-button class="panel-page__icon-symbol" @click="assist()">
                            <img style="vertical-align: middle; height: 32px; right: 10px" :src='`${$publicPath}/images/assist-round.png`' />
                            <p v-translate>Feedback</p>
                        </b-button>
                    </b-nav-item-->
                    <b-nav-item>
                        <b-button class="panel-page__icon-symbol" v-b-modal.help style="width: 120px;">
                            <img style="vertical-align: middle; height: 25px; right: 60px; margin-bottom: 5px;" :src='`${$publicPath}/images/help-round.png`' />
                            <p v-translate>Help</p>
                        </b-button>
                    </b-nav-item>
                    
                    <b-nav-item>
                        <b-button class="panel-page__icon-symbol" @click="toolbox()" style="width: 120px;">
                          <div class='ringed-icon' style="height: 30px">
                            <img style="vertical-align: middle; height: 8px; right: 60px" :src='`${$publicPath}/images/toolbox.png`' />
                          </div>
                          <p v-translate>Toolbox</p>
                        </b-button>
                    </b-nav-item>
                    <b-nav-item>
                        <b-button class="panel-page__icon-symbol" @click="tour()" style="width: 120px;">
                          <b-icon icon="book" scale="1.5" style="vertical-align: middle; height: 16px; right: 60px; margin-bottom: 5px; margin-top: 10px"></b-icon>
                          <p v-translate>Tips</p>
                        </b-button>
                    <div id="v-step-0" class="v-step" style="position:absolute; top: 24vh;"></div>
                    </b-nav-item>
                  </b-navbar-nav>
                </b-collapse>
        </b-navbar>
        <b-container id="panel-page-leaflet" v-if="simulation" v-show='1' fluid>
        <b-row id='leaflet-page' no-gutters>
          <b-col>
            <div class="panel-page__time-header">
              <div class="panel-page__time-header-block">
                <div class="panel-page__time-header-subblock time">
                    <p><strong v-translate>Current Time</strong>: {{ timeString }}</p>
                </div>
                <div class="panel-page__time-header-subblock">
                    <scale :km-in-map-view="kmInMapView"></scale>
                </div>
              </div>
            </div>
            
            <leaflet :danger-color="dangerColor" :time-offset='timeOffset' :tasks="tasks" :case-context="caseContext" :result-features="resultFeatures" :center="center" :zoom="25" :simulation-state="simulationState" v-on:popover = "popover" id="panel-page-leaflet"></leaflet>
            <!-- Alert for no task/news file exists for that item -->
            <b-alert
              :show="dismissCountDown"
              dismissible
              variant="warning"
              @dismissed="dismissCountDown=0"
              @dismiss-count-down="countDownChanged"
            >
              <p>It seems no downloads are attached to that timeline item!</p>
              <b-progress
                variant="warning"
                :max="dismissSecs"
                :value="dismissCountDown"
                height="4px"
              ></b-progress>
            </b-alert>
            <div id='controls'>
              <times v-if="beginTime && endTime" id='timeline' :begin-time="beginTime" :end-time="endTime" :handler="changeAction" :time="time" :dataSetArray="timelinePoints"></times>
              <b-button @click="toggleHidden" class="btn btn-primary btn-sm" id="fsMap">
                <b-icon icon="aspect-ratio" scale="0.75" ></b-icon>
                <translate>Full-screen Map</translate>
              </b-button>
            </div>
            <!-- change here = need to bind the custom types (https://vuejs.org/v2/guide/list.html) -->
            <!--alert v-for="alert in alerts" :key="alert.number" :type="alert.type" v-bind:alert="alert" v-bind:content="alert.content">
                {{ alert.content }}
            </alert-->
          </b-col>
        </b-row>
      </b-container>
      <help></help>
    </div>
</template>

<script>


import help from './HelpPage.vue';
import leaflet from './Leaflet.vue';
import times from './timeline/vis-timeline.vue';
import Navigation from './Navigation.vue';
import Scale from './Scale.vue';
import moment from 'moment'

export default {
  name: 'PanelPage',
  props: {
    simulationId: null
  },

  data () {
    return {
      features: [],
      tasks: [],
      defaultImage: '/static/images/traffic_lights.jpg',
      simulationState: {featureArcs: []},
      timer: null,
      timeDelta: 600000,
      popoverContent: false,
      popoverImage: false,
      popoverIcon: null,
      popoverPlainContent: false,
      sidebarTop: "12.35vh",
      sidebarHeight: "87.65vh",
      tloptions: {
        threshold: new Date(),
        number: 47,
        spanMinMax: 5,
        isFixedDrag: true,
        spanIndex: {start: 40, end: 45},
        type: 'quarter',
        dateFormat: 'yyyy-MM-ddTmm:hh:ssZ'
      },
      hidden: false,
      tlwidth: 1200,
      tlheight: 150,
      timelinePoints: [],
      showHelp: true,
      dismissSecs: 10,
      dismissCountDown: 0
    };
  },

  mounted () {
    this.$store.dispatch("fetchCurrentSimulation", {simulationId: this.simulationId, refresh: true});
    // this.$http.get(this.$apiPrefix + '/tasks?simulation_id=' + this.simulationId).then(response => {
    //   this.tasks = response.data.data;
    // }, response => {
    //   this.$store.commit('addAlert', ['danger', "Couldn't get your information notifications!"]);
    // });
    this.$store.commit("setTime", this.initialTime);
  },
  
  components: {
    scale: Scale,
    navigation: Navigation,
    leaflet: leaflet,
    times: times,
    help: help,
    // 'lpopover': lpopover,
    // 'lpopoverplain': lpopoverplain
  },

  computed: {
    steps() { return [
        {
          target: '#v-step-0',  // We're using document.querySelector() under the hood
          header: {
            title: this.$gettext('Get Started'),
          },
          content: this.$gettext(`Explore timeline below to see the extent of disaster!`)
        },
        {
          target: '#v-step-0',  
          content: this.$gettext(`Notice how the affected areas of the map change colour as you click through the timeline`)
        },
        {
          target: '#v-step-0',  
          content: this.$gettext(`Click on icons on the map to discover what they are and get a short description`)
        },
        {
          target: '#v-step-0',  
          content: this.$gettext(`Click on a task or news item on the timeline to get more context at that point of time`)
        },
        {
          target: '#v-step-0',  
          content: this.$gettext(`Notice the download button beside the exit button in the task or news pop-up. This will download any files attached to that item of news or task.`)
        },
        {
          target: '#v-step-0',  
          content: this.$gettext(`Use grid icon at the top of right of the map to hide certain groups of icons, e.g. All bus stops or all churches`)
        },
      ];},
    backgroundImage () {
      return 'url("' + (this.popoverImage ? this.popoverImage : this.defaultImage) + '")';
    },
    kmInMapView () {
      return this.$store.state.currentWidthOfMapInKm;
    },
    simulation () {
      return this.$store.state.currentSimulation;
    },
    simulationStatistics () {
      return this.$store.state.currentSimulationStatistics;
    },
    showSidebar() {
      return this.$store.state.sidebar;
    },
    phenomenon () {
      if (this.simulation && this.simulation.phenomenon) {
        return this.simulation.phenomenon();
      }
      return{
      };
    },
    caseContext () {
      var caseContext = this.$store.state.currentCaseContext;
      if (caseContext && (!this.simulation || this.simulation.case_context_id === caseContext.id)) {
        return caseContext;
      }
      return {
        features: [],
        featureSets: []
      };
    },
    dangerColor () {
      if (this.phenomenon.color) {
        return this.colorStringToRgbaArray(this.phenomenon.color);
      }
      return [255, 0, 0, 1];
    },
    alerts () {
      return this.$store.state.alerts;
    },
    timeString () {
      //var localeTime = moment().locale('ar');
      var time = new Date(this.time);
      /*var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
      var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
      var hours = (time.getHours() > 9 ? time.getHours() : '0' + time.getHours());
      var mins = (time.getMinutes() > 9 ? time.getMinutes() : '0' + time.getMinutes());*/
      var first2LettersOfLanguage = this.$language.current.substring(0,2);
      
      return moment(String(time)).locale(first2LettersOfLanguage).format('LLLL')//days[time.getDay()] + ', ' + months[time.getMonth()] + ' ' + time.getDate() + ', ' + time.getFullYear() + ' at ' + hours + ':' + mins;
    },
    timeOffset () {
      return this.$store.getters.timeOffset;
    },

    initialTime () {
      if (! this.simulation) {
        return new Date(Date.now());
      }
      return new Date(this.carbonToJs(this.simulation.begins));
    },
    endTime () {
      if (! this.simulation) {
        return null;
      }
      return this.carbonToJs(this.simulation.ends);
    },

    beginTime () {
      if (! this.simulation) {
        return null;
      }
      return new Date(this.carbonToJs(this.simulation.begins));
    },
    center () {
      var center = Array.prototype.slice.call(this.simulation.center.coordinates);
      center.reverse();
      if (this.$store.state.user && this.$store.state.user.default_location != null && center == null) {
          center = this.$store.state.user.default_location.coordinates;
      }
      return center;
      },
    feature () {
      if (!this.featureArcs || !this.featureTypes) {
        return [];
      }
      var featureTypes = this.featureTypes;
      return this.featureArcs.map(function (fs) {
        fs.feature.state = fs;
        fs.feature.type = featureTypes[fs.feature.feature_type_id];
        return fs.feature;
      });
    },
    time () {
      return this.$store.state.time;
    },
    currentChallenges () {
      return this.$store.state.currentChallenges;
    },
    taskTimelinePoints() {
      return this.$store.state.timelinePoints.taskTimelinePoints;
    },
    newsTimelinePoints() {
      return this.$store.state.timelinePoints.newsTimelinePoints;
    },
    rtl() {
      return this.$store.state.rtl;
    },
    showDismissibleAlert() {
      return this.$store.state.missingFile;
    },

},
        //asyncComputed = return result of http request without getting the request back (something to do with promises)
  asyncComputed: {
    simulationState () {
      var dispatch = this.$store.dispatch;
      if (this.simulation) {
        var features = [];
        var featureArcs = this.simulation.featureArcs;
        featureArcs.forEach(function (arc) {
          features.push(
            dispatch('fetchFeatureArc', arc.id)
          );
        });

        return Promise.all(features).then(function (response) {
          var simulationState = {
            featureArcs: featureArcs
          };
          response.map(function (arc, i) {
            simulationState.featureArcs[i].arc = arc;
          });
          return simulationState;
        }, err => this.$log.debug(err));
      }
      return Promise.resolve({featureArcs: []});
    },
    resultFeatures () {
      return this.$store.state.resultFeatures;
    }
  },

  watch: {
    simulation: function () {
      if (this.simulation) {
        this.$store.commit("setTime", this.initialTime);
      } else {
        this.$store.commit("setTime", new Date(Date.now()));
      }
    },
    newsTimelinePoints: function () {
      this.aggregateTimelinePoints();
    },
    taskTimelinePoints: function () {
      this.aggregateTimelinePoints();
    }
  },

  methods: {
    toggleHidden: function () {
      this.hidden = !this.hidden;
      this.$store.commit('setFsSidebar')
    },
    tour(){
      this.$tours['myTour'].start();
    },
    changeAction (newTime) {
      if (this.time !== newTime) {
        this.$store.commit("setTime", newTime);
      }
    },
    colorStringToRgbaArray (color) {
      if (color[0] === '#') {
        return [
          parseInt(color.substring(1, 3), 16),
          parseInt(color.substring(3, 5), 16),
          parseInt(color.substring(5, 7), 16),
          1.0
        ];
      } else {
        var strComponents = color.substring(4, color.length - 2).split(' ');
        var components = [];
        for (var i = 0; i < 3; i++) {
          components.push(parseInt(strComponents[i]));
        }
        components.push(parseFloat(strComponents[3]));
        return components;
      }
    },
    toolbox () {
      this.$store.dispatch('toggleMapDialog');
    },
    assist () {
      this.$bus.$emit('popover-plain', '<h1>Assistance</h1> <p>This button will alert a teacher to the need for assistance</p>');
    },
    help () {
      this.$bus.$emit('popover-plain', "<h1>Help!</h1> <p>This section will describe the basic scientific context, as well as some of the features and functionality of the interface.</p>");
    },
    rewind () {
      if (this.timer) {
        clearTimeout(this.timer);
        this.timer = null;
      }
      var time = this.beginTime;
      this.$store.commit("setTime", time);
    },
    play () {
      if (this.timer) {
        clearTimeout(this.timer);
        this.timer = null;
      } else {
        this.advance();
      }
    },
    advance () {
      if (this.time < this.endTime) {
        var time = new Date(this.time.getTime() + this.timeDelta);
        this.$store.commit("setTime", time);
        this.timer = setTimeout(this.advance, 500);
      }
    },
    aggregateTimelinePoints () {
      var idIndex = 0;
      var structuredTimelinePoints = [];
      for (var newsIndex = 0; newsIndex < this.newsTimelinePoints.length; newsIndex++) {
        var news = {
          id: idIndex,
          content: 'NEWS',
          start: this.newsTimelinePoints[newsIndex],
          informational: newsIndex,
          className: 'timeline-news'
        };
        structuredTimelinePoints.push(news);
        idIndex++;
      }
      
      for (var taskIndex = 0; taskIndex < this.taskTimelinePoints.length; taskIndex++) {
        var challenge_level = this.currentChallenges[taskIndex].challenge_level;
        
        var task = {
          id: idIndex,
          content: 'TASK',
          start: this.taskTimelinePoints[taskIndex],
          challenge: taskIndex,
          className: (challenge_level != null ? 'timeline-task-'.concat(challenge_level) : 'timeline-task')
        };
        structuredTimelinePoints.push(task);
        idIndex++;
      }
      this.timelinePoints = structuredTimelinePoints;
    },
    setNewsTimelinePoints (timelinePoints) {
      this.newsTimelinePoints = timelinePoints;
    },
    setTaskTimelinePoints (timelinePoints) {
      this.taskTimelinePoints = timelinePoints;
    },
    popover (content, image, icon) {
        this.$store.commit('untoggleNewsAndTask');
        this.toggleSidebar();
        this.popoverContent = content;
        if (image) {
          this.popoverImage = image;
        } else {
          this.popoverImage = false;
        }
        this.popoverIcon = icon;
      },
    hidepopover () {
      this.popoverContent = null;
      this.popoverImage = false;
      this.popoverIcon = null;
    },

    popoverPlain (content) {
      this.popoverPlainContent = content;
    },
    
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs
    }

  

  },

  created () {
      var popover = this.popover;
      this.$bus.$on('popover', function (content, image, icon) { popover(content, image, icon); });
      
      var popoverPlain = this.popoverPlain;
      this.$bus.$on('popover-plain', function (content) { popoverPlain(content); });
      
      var hidepopover = this.hidepopover;
      this.$bus.$on('hidepopover', function ()  { hidepopover(); });
      
      var toggleSidebar = this.toggleSidebar
      this.$bus.$on('togglesidebar', function () { toggleSidebar(); });
  },
};
</script>

<style>
@import "~@/sass/panel.scss";

#fsMap{
  position: fixed;
  bottom: 20px;
  right: 5px;
}

#panel-page {
  padding-left: 0;
  overflow-x: hidden;
  padding-right: 0;
}

#panel-page-leaflet{
  padding-left: 0;
  overflow-x: hidden;
  padding-right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

.arHeaderBlock {
  left: 25vw;
}

.panelNav{
  height: 11vh;
  padding: 1vh;
  background: rgba(60, 60, 60, 1);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  padding-bottom: 10px;
  z-index: 5;

}
.panel-page__heading {
  padding-top: 10px;
}

h5 {
  font-family: "League Gothic";
  font-size: 260%;
}

text.span-text{
transform: translate(50px,0px);
-ms-transform: translate(50px,0px); /* IE 9 */
-webkit-transform: translate(50px,0px); /* Safari and Chrome */
-o-transform: translate(50px,0px); /* Opera */
-moz-transform: translate(50px,0px); /* Firefox */
}

</style>
<style src="./timeline/vue-timelinepick.css" />
