<template>
    <div class="scale">
      <div class="scale-row ratio" v-translate>
        <div ref="widthTest" style="width: 1cm" ></div>
        approx. 1 : {{ ratio }}
      </div>
      <div class="scale-row">
          <svg>
          <g v-for="(pair, ix) in pairs" :key="ix">
            <rect :y="ix === 0 ? '0px' : '10px'" :x="(ix * 2 * spansPercentageWidth) + '%'" :width="spansPercentageWidth + '%'" height="100%" class="span-even" />
            <rect y="10px" :x="((ix * 2 + 1) * spansPercentageWidth) + '%'" :width="spansPercentageWidth + '%'" height="100%" class="span-odd" />
          </g>
          <text x="3px" y="20px" class="span-text">{{ displayMetres ? spanDistance * 1000 : spanDistance }}{{ displayMetres ? 'm' : 'km' }}</text>
        </svg>
      </div>
    </div>
</template>

<script>
export default {
  name: 'Scale',
  props: {
    kmInMapView: {
      default: 100
    },
    mapViewPercentageScreen: {
      default: 100
    }
  },

  data () {
    return {
      countThreshold: 6,
      referenceCmWidth: 0
    };
  },

  mounted () {
    this.$nextTick(() => {
      this.referenceCmWidth = this.$refs.widthTest.clientWidth;
    });
  },

  components: {
  },

  computed: {
    displayMetres () {
      return this.spanDistance < 1;
    },

    kmInScreen () {
      return this.kmInMapView * 100. / this.mapViewPercentageScreen;
    },

    ratio () {
      if (this.referenceCmWidth > 0) {
        const screenKmToPixel = 1e5 * this.referenceCmWidth;
        const pixelToMapKm = this.kmInScreen / screen.width;
        const estimateRatio = screenKmToPixel * pixelToMapKm;
        const zeroes = Math.round(Math.log10(estimateRatio)) + Number.EPSILON;
        return Math.round(10 * (
           estimateRatio / 10 ** zeroes
        ) + Number.EPSILON) * 10 ** zeroes;
      }
      return '-';
    },

    kmInScaleView () {
      // We are 30% of full-width map view
      return 0.3 * this.kmInScreen;
    },
    spanDistance () {
      // set it up for first pass through,
      // to ideally get 1km
      let spanDistance = 0.01 / 2.5;
      let spansInScaleBar = this.countThreshold * 2;
      let counter = 0;
      while (spansInScaleBar > this.countThreshold) {
        const step = counter % 3 ? 2 : 2.5;
        counter += 1;
        spanDistance = spanDistance * step;
        spansInScaleBar = this.kmInScaleView / spanDistance;
      }
      return spanDistance;
    },
    spansInScaleBar () {
      return this.kmInScaleView / this.spanDistance;
    },
    spansPercentageWidth () {
      return Math.round(100. / this.spansInScaleBar);
    },
    pairs () {
      const pairs = [];
      const spans = Math.round(this.spansInScaleBar + 1);

      for (let i = 0 ; i < Math.round(spans / 2) ; i++) {
        pairs.push(i);
      }
      return pairs;
    }
  },

  asyncComputed: {
  },

  watch: {
  },

  methods: {
  }

};
</script>

<style scoped>
div.scale {
  height: 50px;
  width: 30vw;
  display: flex;
  flex-direction: column;
}
.scale-row.ratio {
  height: 40%;
  text-align: right;
  z-index: 20;
  padding-right: 5px;
}
.scale-row {
  height: 60%;
  overflow: hidden;
}
svg {
  width: 100%;
  max-height: 50px;
  color: white;
}
.span-even {
  fill: rgba(60, 60, 60, 1);
}
.span-odd {
  fill: rgb(200, 195, 195);
}
.span-text {
  fill: white;
}
</style>
