<template>
    <div class='task'>
        <div class='task-synopsis'>
            <button type="button" class="btn btn-block" v-on:click="popoverPlain"><h4>{{ task.heading }}</h4></button>
        </div>

        <div style='display: none'>
            <div class='task-content'>
                <h1 v-translate> %{TASK}:  {{ task.heading }}</h1>
                <div v-html="formattedDescription"></div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    props: [
      'task'
    ],

    methods: {
      popoverPlain () {
        this.$bus.$emit('popover-plain', this.$el.children[1].innerHTML);
      }
    },

    computed: {
      formattedDescription () {
        return this.task.description.replace(/\n/g, '<br/>');
      }
    }
  };
</script>

<style>
</style>
