<!-- THIS FILE IS NO LONGER IN USE, CODE REPLACED IN sidebar.vue -->
<template>
  <div class="taskwork-wrapper">
    <div class="taskwork" v-bind:class="{ taskworkpopup: istaskworkActive }" v-if="challenges.length > 0" >
      <img height= 400px; width= 345px :src='`${$publicPath}/images/task.jpg`' />
      <div id="banner">
        <div id="title" v-translate>Task 
        </div>
        <!--div id="answerCorrect" v-if="numberOfQuestions > 0 && currentChallenge && currentChallenge.challenge_type == 'multiple_choice'" v-translate :translate-params="{correct: correct , numberOfQuestions: numberOfQuestions}"> %{correct} out of %{numberOfQuestions} correct</div-->
      </div>
      <div class="content">
        <div id="question" class="flex-item-big">
          <strong>{{ text }}</strong
          ><br />
          <div class="description" v-html="subtext"></div>
        </div>
        <div id="pickAnswer" class="flex-item-big" v-if="questionType == 'multiple_choice'">
          <table>
            <tr>
              <td>
                <input id="option1" type="radio"  name="picked" v-model="selectedAnswer"
                  :value="options[0].value"
                  @click="clickAnswer"
                />a) {{ options[0].text }}
                <label :class="{ 'checkmark_selected' : selected == 'a', 'checkmark' : selected != 'a' }" for="option1" />
              </td>
              <td v-if="options.length > 1">
                <input id="option2" type="radio" name="picked" v-model="selectedAnswer"
                  :value="options[1].value"
                  @click="clickAnswer"
                />b) {{ options[1].text }}
                <label :class="{ 'checkmark_selected' : selected == 'b', 'checkmark' : selected != 'b' }" for="option2" />
              </td>
            </tr>
            <tr v-if="options.length > 2">
              <td>
                <input
                  id="option3"
                  type="radio"
                  name="picked"
                  v-model="selectedAnswer"
                  :value="options[2].value"
                  @click="clickAnswer"
                />c) {{ options[2].text }}
                <label :class="{ 'checkmark_selected' : selected == 'c', 'checkmark' : selected != 'c' }" for="option3" />
              </td>
              <td v-if="options.length > 3">
                <input
                  id="option4"
                  type="radio"
                  name="picked"
                  v-model="selectedAnswer"
                  :value="options[3].value"
                  @click="clickAnswer"
                />d) {{ options[3].text }}
                <label :class="{ 'checkmark_selected' : selected == 'd', 'checkmark' : selected != 'd' }" for="option4" />
              </td>
            </tr>
          </table>
        </div>
        <div id="buttons">
          <div
            id="checkAnswer"
            class="button"
            @click="checkAnswer"
            :disabled="questionAnswered"
            v-show="questionType == 'multiple_choice'"
            v-translate
          >
            Check Answer
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "TaskWork",
  props: {
    simulationId: {
      type: String,
      require: true,
    },
  },
  data() {
    return {
      istaskworkActive: false,
      text: "Question",
      subtext: "insert Question",
      options: [],
      correct: 0,
      sumOfMark: 0,
      numberOfQuestions: 0,
      nextQuestionButton: false,
      selectedAnswer: "",
      questionNumber: 0,
      correctAnswer: null,
      questionType: null,
      mark: 0,
      questionDate: null,
      variants: ["a", "b", "c", "d"],
      selectedAnswerList: [],
      selected: "",
      activeChallenge: null
    };
  },
  computed: {
    currentChallenge: function () {
      return this.$store.state.activeChallenge;
    },
    challenges: function () {
      return this.$store.state.currentChallenges;
    },
    questionAnswered: function () {
      return this.currentChallenge
        ? this.selectedAnswer.includes(this.currentChallenge.id)
        : false;
    },
  },
  methods: {
    toggleTaskWork: function () {
      
    },
    getTaskFile: function () {
      this.$store.dispatch('getTaskFile');
    },
    nextQuestion: function () {
      this.checkAnswer();
      this.selectedAnswer = "";
      if (this.challenges) {
        this.setQuestions();
      } else {
        this.fetchQuestions();
      }
    },
    setMultipleChoiceBox: function () {
      if (this.currentChallenge) {
        this.text = this.currentChallenge.text;
        this.subtext = this.currentChallenge.subtext;
        this.options = this.currentChallenge.options;
        this.correctAnswer = this.currentChallenge.correct;
        this.mark = this.currentChallenge.mark;
        this.selected = "";
      }
    },
    setQuestions: function () {
      this.$store.dispatch(
        "activateChallenge",
        this.challenges[this.questionNumber]
      );
    },
    resetQuestions: function () {
      // Later i can make this method show the result dialog box.
      if (this.challenges.length <= this.questionNumber) {
        this.questionNumber = 0;
        this.setQuestions();
      }
    },
    setWrittenWork: function () {
      if (this.currentChallenge) {
        this.text = this.currentChallenge.text;
        this.subtext = this.currentChallenge.subtext;//.replaceAll('<p>','').replaceAll('</p>','\n\n');
      }
    },
    populateTimeline: function () {
      var timelinePointsArray = [];
      var index;
      if (this.challenges.length > 0) {
        for (index = 0; index < this.challenges.length; index++) {
          timelinePointsArray.push(
            this.carbonToJs(this.challenges[index].time)
          );
        }
        this.$emit("taskTimelinePoints", timelinePointsArray);
      }
    },
    previousQuestion: function () {
      this.questionNumber -= 2;
      this.setQuestions();
    },
    clickAnswer: function (event) {
     this.selected = event.target._value;
     this.nextQuestionButton = true;
    },
    fetchQuestions: function () {
      this.$store
        .dispatch("fetchChallenges", { simulationId: this.simulationId })
        .then((data) => {
          this.numberOfQuestions = this.challenges.filter(function (c) {
            return c.challenge_type === "multiple_choice";
          }).length;
          
          this.populateTimeline();
        });
    },
  },
  mounted() {
    
    this.fetchQuestions();
  },
  watch: {
    currentChallenge() {
      if (this.currentChallenge) {
        this.$bus.$emit('hidepopover');
        this.$bus.$emit('togglesidebar');
        this.$store.commit('toggleTaskwork');
        this.questionType = this.currentChallenge.challenge_type;
        this.id = this.currentChallenge.id;
        //this.questionDate = this.carbonToJs(this.currentChallenge.time.date);
        if (this.currentChallenge.time) {
          this.questionDate = this.carbonToJs(this.currentChallenge.time);
        }

        this.questionNumber++;
        if (this.questionType === "multiple_choice") {
          this.setMultipleChoiceBox();
          this.nextQuestionButton = false;
        } else if (this.questionType === "writtenWork") {
          this.setWrittenWork();
          this.nextQuestionButton = true;
        }
      }
    },
    '$store.state.isTaskworkActive': function () {
      this.istaskworkActive = this.$store.state.isTaskworkActive
    }
  },
};
</script>

<style>
.taskwork-wrapper #clicktaskwork {
  display: none;
  width: 100%;
  margin-left: 5%;
  box-shadow: 0px 0px 3px 3px rgba(180, 190, 180, 0.5);
  height: 100px;
  background: #3c3c3c;
  border-bottom: 10px solid #00ac46;
  border-radius: 10px;
  text-align: center;
  padding-top: 30px;
  color: white;
  font-family: "League Gothic";
  font-size: 240%;
  line-height: 1.1;
}

.taskwork-wrapper .taskwork {
  position: absolute;
  right: 0px;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 800px;
  width: 320px;
  color: darkslategray;
  background-color: rgb(249, 248, 250);
  bottom: 400px;

}

.taskwork-wrapper .taskworkpopup {
  visibility: visible;
  bottom: -800px;
  
}

.taskwork-wrapper #buttons {
  display: flex;
  justify-content: space-between;
}

.taskwork-wrapper .button {
  border: 1px white solid;
  border-radius: 6px;
  height: 40px;
  width: 150px;
  text-align: center;
  line-height: 40px;
  background-color: white;
  color: forestgreen;
  cursor: pointer;
}


.taskwork-wrapper #pickAnswer {
  background-color: rgb(249, 248, 250);;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.taskwork-wrapper #banner {
  display: block;
  flex-direction: column;
  justify-content: space-between;
  color: darkslategray;
  font-size: xx-large;
  font-weight: 600;
  border-left: 10px solid royalblue;
;

  
}

.taskwork-wrapper .flex-item-big {
  flex: 2;
}

.taskwork-wrapper input[type="radio"] {
  display: none;
  flex: 1;
}

/*
.taskwork-wrapper input[type="radio"]:checked + label {
         background-image: url("./images/taskwork/checkmark.gif");
}
*/

.taskwork-wrapper .checkmark {
  background-image: none;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  border: 2px black solid;
  border-radius: 50%;
  font-size: 1.05em;
  width: 35px;
  height: 35px;
  float: right;
  margin-right: 5px;
}

.taskwork-wrapper .checkmark_selected {
  background-image: url("./images/taskwork/checkmark.gif");
  background-size: 27px 27px;
  background-repeat: no-repeat;
  background-color: white solid;
  border: 2px white solid;
  border-radius: 50%;
  font-size: 1.05em;
  width: 40px;
  height: 40px;
  float: right;
  margin-right: 5px;
}
.taskwork-wrapper td {
  width: 160px;
}

.taskwork-wrapper .content {
  overflow-y: auto;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}
.taskwork-wrapper .description {
        overflow-y: auto;
        max-height: 190px;
        min-height: 70px;
}

.content::-webkit-scrollbar {
  display: none;
}

.content{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

</style>
