<template>
<div class="container">
  <!-- Modal -->
  <div class="modal" v-bind:class="{ show: isShow }" id="tokenModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title"><a class="modal-header" href="/panel" v-translate>View The Panel</a></h4>
          <h4 class="modal-title" v-translate>Token</h4>
        </div>
        <div class="modal-body">
          <p v-translate>Enter the token for the simulation</p>
          <input id="tokenText" type="text" v-model="token" placeholder="Token" size="31" required="required"/>
        </div>
        <div class="modal-footer">
          <button id="submitToken" type="submit" class="btn btn-primary" data-dismiss="modal" @click="submitToken" v-translate>Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'TokenModal',

  props: {
  },

  data () {
    return {
      token: window.simulationId,
      isShow: true
    };
  },

  methods: {
    submitToken: function () {
      if (this.token) {
        this.isShow = false;
      }
      this.$emit('token_submit', this.token);
    }
		//add a method that checks the user is an admin & display the link to the panel. if not, then display the logo.
		//add simulation options?
  }
};
</script>

<style>


</style>
